@page "/"
@page "/trang-chu"
@inherits IndexController;

<TelerikScheduler Data="@ListSchedulers" @bind-Date="@StartDate" Height="calc(100vh - 125px)" @bind-View="@CurrView"
                  IdField="@(nameof(SheduleModel.Id))"
                  StartField="@(nameof(SheduleModel.Start))"
                  EndField="@(nameof(SheduleModel.End))"
                  TitleField="@(nameof(SheduleModel.Title))"
                  DescriptionField="@(nameof(SheduleModel.Description))"
                  IsAllDayField="@(nameof(SheduleModel.IsAllDay))"
                  >
    <SchedulerViews>
        <SchedulerMonthView>
            
        </SchedulerMonthView>
        <SchedulerDayView StartTime="@StartTime" >
            <DateHeaderTemplate>
                <div>
                    @context.ToString(DefaultConstants.FORMAT_DATE)
                </div>
            </DateHeaderTemplate>
            <AllDayItemTemplate>
                @{
                    SheduleModel oItem = (context as SheduleModel)!;
                    <div style="height: 70px">
                        @oItem.Title - @oItem.Description
                    </div>
                }
            </AllDayItemTemplate>
        </SchedulerDayView>
    </SchedulerViews>
</TelerikScheduler>
