@page "/branch"
@inherits BranchController;

<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/add-new-icon.png" OnClick="@(()=> OnOpenDialogHandler())">Thêm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/remove_grid.png" OnClick="@DeleteDataHandler">Xóa dòng</ToolBarButton>
</TelerikToolBar>
<div class="h-table-content" style=" height: calc(100vh - 170px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>

    <TelerikGrid Data="@ListBranchs"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 OnRowDoubleClick="@OnRowDoubleClickHandler"
                 @bind-SelectedItems="@SelectedBranchs">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(BranchModel.BranchId) Aggregate="@GridAggregateType.Count" />
        </GridAggregates>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
            <GridColumn Field=@nameof(BranchModel.BranchId) Width="130px" MaxResizableWidth="150" Title="Mã chi nhánh">
                <Template>
                    @{
                        var model = (context as BranchModel);
                        <span class="h-link">@model!.BranchId</span>
                    }
                </Template>
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(BranchModel.BranchName) Width="270px" Title="Tên chi nhánh"></GridColumn>
            <GridColumn Field=@nameof(BranchModel.ListServiceType) Width="190px" Title="Loại dịch vụ triển khai"></GridColumn>
            <GridColumn Field=@nameof(BranchModel.IsActive) Width="140px" Title="Đang hoạt động ?">
                <Template>
                    @{
                        var model = (context as BranchModel);
                        <TelerikCheckBox @bind-Value="@model!.IsActive" Enabled="false" />
                    }
                </Template>
            </GridColumn>
            <GridColumn Field=@nameof(BranchModel.PhoneNumber) Width="140px" Title="Số điện thoại"></GridColumn>
            <GridColumn Field=@nameof(BranchModel.Address) Width="240px" Title="Địa chỉ"></GridColumn>
        </GridColumns>
    </TelerikGrid>
</div>

<HDialog @bind-IsVisible="@IsShowDialog"
    SaveAndClosed="@(()=> SaveDataHandler())"
    SaveAndCreate="@(()=> SaveDataHandler(EnumType.SaveAndCreate))"
    Title="@(IsCreate ? "Thêm mới chi nhánh" : $"Cập nhật chi nhánh {BranchUpdate!.BranchId}")">
    <EditForm EditContext="@_EditContext" >
        <DataAnnotationsValidator />
        <div>
            <HLabel Value="Mã chi nhánh:" />
            <TelerikTextBox @bind-Value="@BranchUpdate!.BranchId" Class="h-link" Enabled="false" />
        </div>
         <div class="mt-2">
            <HLabel For="txtBranchName" Value="Tên chi nhánh:" IsRequired="true" />
            <TelerikTextBox @bind-Value="@BranchUpdate.BranchName" Id="txtBranchName" />
            <HValidationTooltip ValidationFor="@(()=> BranchUpdate.BranchName)" Id="txtBranchName" />
        </div>
        <div class="mt-2">
            <HLabel For="multiCboListServiceTypes" Value="Loại dịch vụ triển khai:" IsRequired="true" />
            <TelerikMultiSelect Data="@ListServiceTypes"
                                @bind-Value="@BranchUpdate.ListServiceTypes"
                                ValueField="@nameof(EnumModel.EnumId)"
                                TextField="@nameof(EnumModel.EnumName)"
                                FilterOperator="@Telerik.Blazor.StringFilterOperator.Contains"
                                Id="multiCboListServiceTypes"
                                AutoClose="false" Width="100%">

            </TelerikMultiSelect>
            <HValidationTooltip ValidationFor="@(()=> BranchUpdate.ListServiceTypes)" Id="multiCboListServiceTypes" />
        </div>
        <div class="mt-2">
            <HLabel For="txtPhoneNumber" Value="Số điện thoại:" IsRequired="true" />
            <TelerikTextBox @bind-Value="@BranchUpdate.PhoneNumber" Id="txtPhoneNumber" />
            <HValidationTooltip ValidationFor="@(()=> BranchUpdate.PhoneNumber)" Id="txtPhoneNumber" />
        </div>
        <div class="mt-2">
            <HLabel For="txtAddress" Value="Địa chỉ:" IsRequired="true" />
            <TelerikTextBox @bind-Value="@BranchUpdate.Address" Id="txtAddress" />
            <HValidationTooltip ValidationFor="@(()=> BranchUpdate.Address)" Id="txtAddress" />
        </div>
        <div class="mt-2">
            <TelerikCheckBox @bind-Value="@BranchUpdate.IsActive" Id="ckbIsActive" />
            <HLabel Value="Hoạt động?" For="ckbIsActive" />
        </div>
    </EditForm>
</HDialog>

<HConfirm @ref="@_rDialogs" />