@page "/customer-details"
@inherits CustomerDetailsController

<div class="h-content-filter">
    <div class="row row-gap-2">
        <div class="col-lg-4 col-md-5 col-sm-12">
            <div class="card">
                <div class="card-header" style="padding: 10px">
                    <h4 class="mb-0">Thông tin khách hàng</h4>
                </div>
                <div class="card-body" style="padding: 10px">
                    <div class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" 
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                        Mã khách hàng: <strong>@($"{CustomerUpdate.CusNo}")</strong>
                    </div>
                    <div class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                        Tên khách hàng: <strong>@($"{CustomerUpdate.FullName}")</strong>
                    </div>
                    <div class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                        Cơ sở: <strong>@CustomerUpdate.BranchName</strong>
                    </div>
                    <div class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                        Ngày sinh: <strong>@(CustomerUpdate.DateOfBirth == null ? DATA_CUSTOMER_EMPTY : CustomerUpdate.DateOfBirth.Value.ToString(DefaultConstants.FORMAT_DATE))</strong>
                    </div>
                    <div class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                        Số điện thoại: <strong>@CustomerUpdate.Phone1</strong>
                    </div>
                    <div class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                        Zalo: <strong>@CustomerUpdate.Zalo</strong>
                    </div>
                    <div class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                        Facebook: <strong>@CustomerUpdate.FaceBook</strong>
                    </div>
                    <div class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                        Loại da: <strong>
                            <span class="flag flag-country-si"></span>
                            @CustomerUpdate.SkinType
                        </strong>
                    </div>
                    <div class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                        Đặc điểm: <strong>
                            <span class="flag flag-country-si"></span>
                            @CustomerUpdate.Remark
                        </strong>
                    </div>
                    <div class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                        Địa chỉ: <strong>
                            <span class="flag flag-country-si"></span>
                            @CustomerUpdate.Address
                        </strong>
                    </div>
                    <div class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                        Công nợ: <span class="badge bg-purple-lt">@CustomerUpdate.TotalDebtAmount.ToString(DefaultConstants.FORMAT_CURRENCY)đ</span>
                    </div>
                    <div class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-secondary"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                        Điểm tích lũy: <span class="badge bg-red-lt">
                            @CustomerUpdate.Point điểm
                            @if (CustomerUpdate.Point > 0)
                            {
                                <i class="fa-regular fa-pen-to-square h-link" title="Sử dụng điểm"
                                   style="font-size: 14px; margin-left: 5px" @onclick="@(async()=>await ShowPopupHandler(nameof(DocumentModel.Point)))"></i>
                            }
                        </span>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header" style="padding: 10px">
                    <h4 class="mb-0">Lịch sử bảo hành</h4>
                </div>
                <div class="card-body" style="padding: 10px">
                    @if (ListServiceCalls != null && ListServiceCalls.Any())
                    {
                        <ul class="timeline timeline-simple">
                            @foreach (var oItem in ListServiceCalls)
                            {
                                <li class="timeline-event">
                                    <div class="timeline-event-icon bg-twitter-lt" style="border-radius: 50%">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l5 5l10 -10"></path></svg>
                                    </div>
                                    <div class="card timeline-event-card">
                                        <div class="card-body" style="padding: 10px">
                                            <div class="text-secondary float-end">@(oItem.DateCreate == null ? DATA_CUSTOMER_EMPTY : oItem.DateCreate.Value.ToString(DefaultConstants.FORMAT_DATE))</div>
                                            <h4 class="mb-1 h-link" @onclick="@(()=> OnViewDerailsHandler(oItem.DocEntry, pLinkPage: "service-call"))">@(oItem.VoucherNo)</h4>
                                            <p class="text-secondary mb-1">Dịch vụ: @($"{oItem.ServiceCode} - {oItem.ServiceName}")</p>
                                            <p class="text-secondary mb-1">Số hóa đơn: <a class="h-link" @onclick="@(()=> OnViewDerailsHandler(oItem.BaseEntry, pLinkPage: "create-ticket"))">@($"{oItem.VoucherNoBase}")</a></p>
                                            <p class="text-secondary">
                                                Tình trạng bảo hành: @{
                                                    string color = "badge bg-cyan-lt";
                                                    if (oItem!.StatusId == nameof(DocStatus.Closed)) color = "badge bg-green-lt";
                                                    else if (oItem!.StatusId == nameof(DocStatus.Cancled)) color = "badge bg-red-lt";
                                                    <strong class="@(color)">
                                                        @($" {oItem.StatusName}")
                                                    </strong>
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12">
            <div class="card">
                <div class="card-header" style="padding: 10px">
                    <h4 class="mb-0">Lịch sử đơn hàng</h4>
                </div>
                <div class="card-body" style="padding: 10px">
                    @if(ListDocHis != null && ListDocHis.Any())
                    {
                        
                        <ul class="timeline">
                            @foreach (var oItem in ListDocHis)
                            {
                                <li class="timeline-event">
                                    <div class="timeline-event-icon bg-twitter-lt" style="border-radius: 50%">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l5 5l10 -10"></path></svg>
                                    </div>
                                    <div class="card timeline-event-card">
                                        <div class="card-body" style="padding: 10px">
                                            <div class="text-secondary float-end">@(oItem.DateCreate == null ? DATA_CUSTOMER_EMPTY : oItem.DateCreate.Value.ToString(DefaultConstants.FORMAT_DATE))</div>
                                            <h4 class="mb-1 h-link" @onclick="@(()=> OnViewDerailsHandler(oItem.DocEntry, pLinkPage: "create-ticket"))">@(oItem.VoucherNo)</h4>
                                            <p class="text-secondary mb-1">
                                                @(oItem.DateCreate == null ? "" : oItem.DateCreate.Value.ToString(DefaultConstants.FORMAT_TIME)) - @oItem.UserNameCreate
                                            </p>
                                            <div class="row row-gap-1">
                                                <div class="col-md-3 col-sm-6">
                                                    <p class="text-secondary mb-0">Tổng tiền: <span>@oItem.Total.ToString(DefaultConstants.FORMAT_CURRENCY)</span>đ</p>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <p class="text-secondary mb-0">Khách trả: <span>@oItem.GuestsPay.ToString(DefaultConstants.FORMAT_CURRENCY)</span>đ</p>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <p class="text-secondary mb-0">Còn nợ: <span style="color: red">@oItem.Debt.ToString(DefaultConstants.FORMAT_CURRENCY)</span>đ</p>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <p class="text-secondary mb-0">Điểm tích lũy: <span class="badge bg-red-lt">@oItem.Point điểm</span></p>
                                                </div>
                                            </div>
                                            <p class="text-secondary mb-1">Dịch vụ: @oItem.Service</p>
                                            <p class="text-secondary">Ghi chú: @oItem.NoteForAll</p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<HDialog @bind-IsVisible="@IsShowPoint"
    IsShowButtons="false"
    Width="65%"
    Title="Sử dụng điểm quy đổi quà đính kèm">
    <div class="h-content-filter">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <HLabel Value="Nhập số điểm sử dụng: " IsRequired="true" />
                <TelerikNumericTextBox Format="@DefaultConstants.FORMAT_CURRENCY" Step="1.0"
                                       @bind-Value="@NumberOfPointUsed" Arrows="false" Min="0" Max="CustomerUpdate.Point" />
            </div>
        </div>
    </div>
    <TelerikToolBar Class="border-bottom-0">
        <ToolBarButton ImageUrl="../assets/refresh.png">Làm mới</ToolBarButton>
        <ToolBarButton ImageUrl="../assets/save-folder.png" OnClick="@SaveNumberOfPointUsedHandler">Lưu & đóng</ToolBarButton>
    </TelerikToolBar>
    <div class="h-table-content" style="height: 300px;">
        <TelerikGrid Data="@ListPointByCusNo"
                     Height="100%"
                     Width="100%"
                     RowHeight="25"
                     Pageable="true"
                     PageSize="@DefaultConstants.PAGE_SIZE"
                     Sortable="true"
                     Resizable="true"
                     FilterMode="@GridFilterMode.None"
                     SelectionMode="@GridSelectionMode.Single"
                     ScrollMode="@GridScrollMode.Scrollable">
            <GridSettings>
                <GridPagerSettings InputType="PagerInputType.Input" />
            </GridSettings>
            <GridColumns>
                <GridColumn Field=@nameof(CustomerDebtsModel.DateCreate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="140px" Title="Ngày giờ tạo"></GridColumn>
                <GridColumn Field=@nameof(CustomerDebtsModel.TotalDebtAmount) DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY" Width="140px" Title="Điểm quy đổi"></GridColumn>
                <GridColumn Field=@nameof(CustomerDebtsModel.Remark) Width="290px" Title="Ghi chú"></GridColumn>
                <GridColumn Field=@nameof(CustomerDebtsModel.CusNo) Width="130px" Title="Mã khách hàng"></GridColumn>
                <GridColumn Field=@nameof(CustomerDebtsModel.FullName) Width="170px" Title="Tên khách hàng"></GridColumn>
            </GridColumns>
        </TelerikGrid>
    </div>
</HDialog>