@page "/create-ticket"
@inherits DocumentController

<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/save-folder.png" OnClick="@SaveDocHandler">Lưu thông tin</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/bill.png">Thanh toán</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/printer.png">In hóa đơn</ToolBarButton>
</TelerikToolBar>
<div class="h-content-filter" style="border-top: 1px solid var(--tblr-border-color)">
    <div class="card card-lg mt-1" style="padding: 5px">
        <div style="border-bottom: 1px solid var(--tblr-border-color)">
            <div class="accordion" id="accordion-info">
                <div class="accordion-item" style="border: none">
                    <span class="accordion-header" id="heading-1">
                        <button class="accordion-button " style="padding-top: 5px; padding-bottom: 5px" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-info" aria-expanded="true">
                            <h4 class="mb-1">Thông tin khách hàng</h4>
                        </button>
                    </span>
                    <div id="collapse-info" class="accordion-collapse collapse show" data-bs-parent="#accordion-info">
                        <div class="accordion-body pt-0">
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        Mã K/H: <strong>@DocumentUpdate.CusNo</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        Cơ sở: <strong>@DocumentUpdate.BranchName</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        Ngày tạo: <strong>@DocumentUpdate.DateCreate?.ToString(DefaultConstants.FORMAT_DATE)</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-lg-4 col-md-5 col-sm-12">
                                        Tên khách hàng: <strong>@DocumentUpdate.FullName</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-3 col-sm-12">
                                        Ngày sinh: <strong>@(DocumentUpdate.DateOfBirth == null ? DATA_CUSTOMER_EMPTY : DocumentUpdate.DateOfBirth.Value.ToString(DefaultConstants.FORMAT_DATE))</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        CCCD: <strong>@DocumentUpdate.CINo</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        SĐT: <strong>@DocumentUpdate.Phone1</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Zalo: <strong>@DocumentUpdate.Zalo</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Facebook: <strong>@DocumentUpdate.FaceBook</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                Địa chỉ: <strong>@DocumentUpdate.Address</strong>
                            </div>
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Đặc điểm: <strong>@DocumentUpdate.Remark</strong>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12">
                                        Loại da: <strong>@DocumentUpdate.SkinType</strong>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-md-4 col-sm-12">
                                        Tình trạng khách khi sử dụng dịch vụ:
                                        <TelerikTextBox @bind-Value="@DocumentUpdate!.StatusBefore" Id="txtStatusBefore" />
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        Tình trạng sức khỏe:
                                        <TelerikTextBox @bind-Value="@DocumentUpdate!.HealthStatus" Id="txtHealthStatus" />
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        Ghi chú đơn hàng:
                                        <TelerikTextBox @bind-Value="@DocumentUpdate!.NoteForAll" Id="txtNoteForAll" />
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-gap-2 mt-2">
            <div class="col-md-4 col-sm-12">
                <h4 class="mb-1">Sản phẩm | Dịch vụ</h4>
                <div class="accordion" id="accordion-service">
                    @if (ListGroupServices != null && ListGroupServices.Any())
                    {
                        int iIndex = 0;
                        @foreach (var oGroup in ListGroupServices)
                        {
                            iIndex++;
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading-2" style="background-color: rgba(var(--tblr-muted-rgb), 0.04);">
                                    <button style="padding: 5px 10px" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse-{iIndex}")" aria-expanded="true">
                                        @oGroup.Key
                                    </button>
                                </h2>
                                <div id="@($"collapse-{iIndex}")" class="accordion-collapse collapse @(iIndex == 1 ? "show" : "")" data-bs-parent="#accordion-service" style="">
                                    <div class="list-group list-group-flush">
                                        @foreach (ServiceModel oItem in oGroup)
                                        {
                                            <div class="list-group-item active" style="padding: 5px 10px; background-color: inherit;">
                                                <div class="row align-items-center">
                                                    <div class="col">
                                                        <span class="text-reset d-block">@($"{oItem.ServiceCode} - {oItem.ServiceName}")</span>
                                                        <div class="d-block text-secondary text-truncate mt-n1">@($"Đơn giá gốc: {oItem.Price.ToString(DefaultConstants.FORMAT_CURRENCY)}")</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fa-solid fa-plus" style="font-size: 17px;color: #206bc4;cursor: pointer"
                                                           title="Thêm dịch vụ" @onclick="@(()=> AddItemToSOHandler(oItem))"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <h4 class="mb-1">Đơn hàng</h4>
                <div class="table-responsive">
                    <table class="table table-transparent">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 25px; min-width: 25px"></th>
                                <th class="text-center" style="width: 1%">STT</th>
                                <th style="min-width: 230px">Dịch vụ</th>
                                <th class="text-end" style="width: 130px; min-width: 130px">Đơn giá</th>
                                <th class="text-end" style="width: 90px; min-width: 90px">SL</th>
                                <th class="text-end" style="width: 1%; min-width: 110px">Tổng tiền</th>
                                <th class="text-center" style="width: 170px; min-width: 170px">NV tư vấn</th>
                                <th class="text-center" style="width: 170px; min-width: 170px">NV thực hiện</th>
                                <th class="text-center" style="width: 190px; min-width: 190px">Công thức mực</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ListSalesOrder != null && ListSalesOrder.Any())
                            {
                                @foreach(var oItem in ListSalesOrder)
                                {
                                    @*int iIndex = i;*@
                                    <tr>
                                        <td class="text-center">
                                            <i class="fa-solid fa-xmark" style="color: red;font-size: 17px;cursor: pointer"
                                                title="Xóa dịch vụ" @onclick="@(()=> RemoveItemInSOHandler(oItem.Id))"></i>
                                        </td>
                                        <td class="text-center">@oItem.Id</td>
                                        <td>
                                            <p class="strong mb-1">@oItem.ServiceCode</p>
                                            <div class="text-secondary">@oItem.ServiceName</div>
                                            <div class="text-secondary">Đơn giá gốc: @oItem.PriceOld.ToString(DefaultConstants.FORMAT_CURRENCY)</div>
                                            <div class="text-secondary">
                                                Bảo hành:
                                                @($"{Math.Round(oItem.WarrantyPeriod, 2)} tháng/{@oItem.QtyWarranty} lần")
                                            </div>
                                        </td>
                                        <td class="text-end">
                                            <TelerikNumericTextBox Format="@DefaultConstants.FORMAT_CURRENCY" Step="1000.0"
                                                           @bind-Value="@oItem.Price" Arrows="false" />
                                        </td>
                                        <td class="text-center">
                                            <TelerikNumericTextBox Step="1" @bind-Value="@oItem.Qty" Min="1" />
                                        </td>
                                        <td class="text-end">@(oItem.Amount.ToString(DefaultConstants.FORMAT_CURRENCY))đ</td>
                                        <td class="text-center">
                                            <TelerikMultiSelect Data="@ListUsers"
                                                @bind-Value="@ListUserAdvise"
                                                ValueField="@nameof(ComboboxModel.Code)"
                                                TextField="@nameof(ComboboxModel.Name)"
                                                FilterOperator="@Telerik.Blazor.StringFilterOperator.Contains"
                                                AutoClose="false" Width="100%"
                                            >
                                            </TelerikMultiSelect>
                                        </td>
                                        <td class="text-center">
                                            <TelerikMultiSelect Data="@ListUsers"
                                                        @bind-Value="@ListUserImplements"
                                                        ValueField="@nameof(ComboboxModel.Code)"
                                                        TextField="@nameof(ComboboxModel.Name)"
                                                        FilterOperator="@Telerik.Blazor.StringFilterOperator.Contains"
                                                        AutoClose="false" Width="100%">

                                            </TelerikMultiSelect>
                                        </td>
                                        <td class="text-center">
                                            <TelerikTextBox @bind-Value="@oItem.ChemicalFomula" Id="txtChemicalFomula" />
                                        </td>
                                    </tr>
                                }

                            }

                            @{
                                double pSumTotal = ListSalesOrder?.Sum(m => m.Amount) ?? 0;
                                DocumentUpdate.GuestsPay = pSumTotal <= 0 ? 0 : DocumentUpdate.GuestsPay;
                                DocumentUpdate.Debt = pSumTotal <= 0 ? 0 : DocumentUpdate.Debt;
                                <tr>
                                    <td class="text-center"></td>
                                    <td colspan="3" class="strong text-end">Tổng tiền dịch vụ:</td>
                                    <td colspan="2" class="text-end">
                                        @(pSumTotal.ToString(DefaultConstants.FORMAT_CURRENCY))đ
                                    </td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td class="text-center"></td>
                                    <td colspan="3" class="strong text-end">Khách trả:</td>
                                    <td colspan="2" class="text-end">
                                        <TelerikNumericTextBox Format="@DefaultConstants.FORMAT_CURRENCY" Step="1000.0"
                                             @bind-Value="@DocumentUpdate.GuestsPay" Enabled="@(pSumTotal > 0)" Arrows="false" Min="0" />
                                    </td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td class="text-center"></td>
                                    <td colspan="3" class="font-weight-bold text-uppercase text-end">Công nợ:</td>
                                    <td colspan="2" class="font-weight-bold text-end">
                                        @{
                                            DocumentUpdate.Debt = pSumTotal <= 0 || DocumentUpdate.GuestsPay >= pSumTotal ? 0 
                                            : pSumTotal - DocumentUpdate.GuestsPay;
                                        }
                                        @(DocumentUpdate.Debt.ToString(DefaultConstants.FORMAT_CURRENCY))đ
                                    </td>
                                    <td colspan="3"></td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

<HConfirm @ref="@_rDialogs" />