@page "/create-ticket"
@inherits DocumentController

<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/save-folder.png" Enabled="@(!pIsLockPage)"
        OnClick="@(()=> ShowOutBound())">Lập phiếu xuất kho</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/save-folder.png" Enabled="@(!pIsLockPage)"
        OnClick="@(()=> SaveDocHandler())">Lưu thông tin</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/bill.png" Enabled="@(!pIsLockPage)"
        OnClick="@(()=> SaveDocHandler(EnumType.SaveAndClose))">Thanh toán</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/printer.png" Enabled="@(DocumentUpdate.DocEntry > 0)" OnClick="@(async()=>await PrintDocHandler())">In hồ sơ</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/printer.png" OnClick="@(async()=>await PrintCommitedDocHander())">In cam kết</ToolBarButton>
</TelerikToolBar>
<div class="h-content-filter" style="border-top: 1px solid var(--tblr-border-color)">
    <div class="card card-lg mt-1" style="padding: 5px">
        <div style="border-bottom: 1px solid var(--tblr-border-color)">
            <div class="accordion" id="accordion-info">
                <div class="accordion-item" style="border: none">
                    <span class="accordion-header" id="heading-1">
                        <button class="accordion-button " style="padding-top: 5px; padding-bottom: 5px" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-info" aria-expanded="true">
                            <h4 class="mb-1">Thông tin khách hàng</h4>
                        </button>
                    </span>
                    <div id="collapse-info" class="accordion-collapse collapse show" data-bs-parent="#accordion-info">
                        <div class="accordion-body pt-0">
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Số phiếu: <strong>@($"{DocumentUpdate.VoucherNo}")</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Tình trạng phiếu:
                                        @{
                                            string color = "text-cyan";
                                            if (DocumentUpdate!.StatusId == nameof(DocStatus.Closed)) color = "text-green";
                                            else if (DocumentUpdate!.StatusId == nameof(DocStatus.Cancled)) color = "text-red";
                                                        <strong class="@(color)">
                                                            @($"{DocumentUpdate.StatusName}")
                                                        </strong>
                                        }
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Ngày tạo: <strong>@DocumentUpdate.DateCreate?.ToString(DefaultConstants.FORMAT_DATE)</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Mã K/H: <strong>@DocumentUpdate.CusNo</strong>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12">
                                        Cơ sở: <strong>@DocumentUpdate.BranchName</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-lg-4 col-md-5 col-sm-12">
                                        Tên khách hàng: <strong>@DocumentUpdate.FullName</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-3 col-sm-12">
                                        Ngày sinh: <strong>@(DocumentUpdate.DateOfBirth == null ? DATA_CUSTOMER_EMPTY : DocumentUpdate.DateOfBirth.Value.ToString(DefaultConstants.FORMAT_DATE))</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        CCCD: <strong>@DocumentUpdate.CINo</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        SĐT: <strong>@DocumentUpdate.Phone1</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Zalo: <strong>@DocumentUpdate.Zalo</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Facebook: <strong>@DocumentUpdate.FaceBook</strong>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Đặc điểm: <strong>@DocumentUpdate.Remark</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Loại da: <strong>@DocumentUpdate.SkinType</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Địa chỉ: <strong>@DocumentUpdate.Address</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-md-4 col-sm-12">
                                        Tình trạng khách khi sử dụng dịch vụ:
                                        <TelerikTextBox @bind-Value="@DocumentUpdate!.StatusBefore" Id="txtStatusBefore" Enabled="@(!pIsLockPage)" />
                                    </div>
                                <div class="col-md-4 col-sm-12">
                                        Tình trạng sức khỏe:
                                        <TelerikTextBox @bind-Value="@DocumentUpdate!.HealthStatus" Id="txtHealthStatus" Enabled="@(!pIsLockPage)" />
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        Ghi chú đơn hàng:
                                        <TelerikTextBox @bind-Value="@DocumentUpdate!.NoteForAll" Id="txtNoteForAll" Enabled="@(!pIsLockPage)" />
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-gap-2 mt-2">
            @if (!pIsLockPage)
            {
                <div class="col-md-4 col-sm-12">
                    <h4 class="mb-1">Sản phẩm | Dịch vụ</h4>
                    <div class="accordion" id="accordion-service">
                        @if (ListGroupServices != null && ListGroupServices.Any())
                        {
                            int iIndex = 0;
                            @foreach (var oGroup in ListGroupServices)
                            {
                                iIndex++;
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-2" style="background-color: rgba(var(--tblr-muted-rgb), 0.04);">
                                        <button style="padding: 5px 10px" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#collapse-{iIndex}")" aria-expanded="true">
                                            @oGroup.Key
                                        </button>
                                    </h2>
                                    <div id="@($"collapse-{iIndex}")" class="accordion-collapse collapse @(iIndex == 1 ? "show" : "")" data-bs-parent="#accordion-service" style="">
                                        <div class="list-group list-group-flush">
                                            @foreach (ServiceModel oItem in oGroup)
                                            {
                                                <div class="list-group-item active" style="padding: 5px 10px; background-color: inherit;">
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <span class="text-reset d-block">@($"{oItem.ServiceCode} - {oItem.ServiceName}")</span>
                                                            <div class="d-block text-secondary text-truncate mt-n1">@($"Đơn giá gốc: {oItem.Price.ToString(DefaultConstants.FORMAT_CURRENCY)}")</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fa-solid fa-plus" style="font-size: 17px;color: #206bc4;cursor: pointer"
                                                               title="Thêm dịch vụ" @onclick="@(()=> AddItemToSOHandler(oItem))"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
            <div class="@(pIsLockPage ? "col-sm-12" : "col-md-8 col-sm-12")">
                <h4 class="mb-1">Đơn hàng</h4>
                <div class="table-responsive">
                    <table class="table table-transparent">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 25px; min-width: 25px"></th>
                                <th class="text-center" style="width: 1%">STT</th>
                                <th class="text-center" style="width: 5%">Xuất kho ?</th>
                                <th style="min-width: 230px">Dịch vụ</th>
                                <th class="text-end" style="width: 130px; min-width: 130px">Đơn giá</th>
                                <th class="text-end" style="width: 90px; min-width: 90px">SL</th>
                                <th class="text-end" style="width: 1%; min-width: 110px">Tổng tiền</th>
                                <th class="text-center" style="min-width: 170px">NV tư vấn</th>
                                <th class="text-center" style="min-width: 170px">NV thực hiện</th>
                                <th class="text-center" style="min-width: 190px">Công thức mực</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ListSalesOrder != null && ListSalesOrder.Any())
                            {
                                @foreach(var oItem in ListSalesOrder)
                                {
                                    @*int iIndex = i;*@
                                    <tr class="@(oItem.IsCheck ? "bg-azure-lt"  : "")">
                                        <td class="text-center">
                                            @if(!pIsLockPage)
                                            {
                                                <i class="fa-solid fa-xmark" style="color: red;font-size: 17px;cursor: pointer"
                                                   title="Xóa dịch vụ" @onclick="@(()=> RemoveItemInSOHandler(oItem.LineNum))"></i>
                                            }
                                            <TelerikCheckBox @bind-Value="@oItem.IsCheck" Title="" />
                                        </td>
                                        <td class="text-center">@oItem.LineNum</td>
                                        <td class="text-center"><span class="@(oItem.StatusOutBound+""=="Chưa"?"badge bg-purple-lt":"badge bg-green-lt")">@oItem.StatusOutBound</span></td>
                                        <td>
                                            <p class="strong mb-1">@oItem.ServiceCode</p>
                                            <div class="text-secondary">@oItem.ServiceName</div>
                                            <div class="text-secondary">Đơn giá gốc: @oItem.PriceOld.ToString(DefaultConstants.FORMAT_CURRENCY)</div>
                                            <div class="text-secondary">
                                                Bảo hành:
                                                @($"{Math.Round(oItem.WarrantyPeriod, 2)} tháng/{@oItem.QtyWarranty} lần")
                                            </div>
                                        </td>
                                        <td class="text-end">
                                            <TelerikNumericTextBox Format="@DefaultConstants.FORMAT_CURRENCY" Step="1000.0"
                                                           @bind-Value="@oItem.Price" Arrows="false" Enabled="@(!pIsLockPage)" />
                                        </td>
                                        <td class="text-center">
                                            <TelerikNumericTextBox Step="1" @bind-Value="@oItem.Qty" Min="1" Enabled="@(!pIsLockPage)" />
                                        </td>
                                        <td class="text-end">@(oItem.Amount.ToString(DefaultConstants.FORMAT_CURRENCY))đ</td>
                                        <td class="text-center">
                                            <TelerikMultiSelect Data="@ListUsers"
                                                @bind-Value="@oItem.ListUserAdvise"
                                                ValueField="@nameof(ComboboxModel.Code)"
                                                TextField="@nameof(ComboboxModel.Name)"
                                                FilterOperator="@Telerik.Blazor.StringFilterOperator.Contains"
                                                Enabled="@(!pIsLockPage)"
                                                AutoClose="false" Width="100%"
                                            >
                                            </TelerikMultiSelect>
                                        </td>
                                        <td class="text-center">
                                            <TelerikMultiSelect Data="@ListUsers"
                                                        @bind-Value="@oItem.ListUserImplements"
                                                        ValueField="@nameof(ComboboxModel.Code)"
                                                        TextField="@nameof(ComboboxModel.Name)"
                                                        FilterOperator="@Telerik.Blazor.StringFilterOperator.Contains"
                                                        Enabled="@(!pIsLockPage)"
                                                        AutoClose="false" Width="100%">

                                            </TelerikMultiSelect>
                                        </td>
                                        <td class="text-start">
                                            @if (!pIsLockPage)
                                            {
                                                <TelerikTextBox @bind-Value="@oItem.ChemicalFormula" Enabled="@(!pIsLockPage)" Id="txtChemicalFomula" />
                                            }
                                            else
                                            {
                                                <span class="text-secondary">@oItem.ChemicalFormula</span>
                                            }
                                        </td>
                                    </tr>
                                }

                            }

                            @{
                                double pSumTotal = ListSalesOrder?.Sum(m => m.Amount) ?? 0;
                                DocumentUpdate.GuestsPay = pSumTotal <= 0 ? 0 : DocumentUpdate.GuestsPay;
                                DocumentUpdate.Debt = pSumTotal <= 0 ? 0 : DocumentUpdate.Debt;
                                            <tr>
                                                <td class="text-center"></td>
                                                <td colspan="3" class="strong text-end">Tổng tiền dịch vụ:</td>
                                                <td colspan="2" class="text-end">
                                                    @(pSumTotal.ToString(DefaultConstants.FORMAT_CURRENCY))đ
                                                </td>
                                                <td colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"></td>
                                                <td colspan="3" class="strong text-end">Khách trả:</td>
                                                <td colspan="2" class="text-end">
                                                    @if(!pIsLockPage)
                                        {
                                                        <TelerikNumericTextBox Format="@DefaultConstants.FORMAT_CURRENCY" Step="1000.0"
                                                            @bind-Value="@DocumentUpdate.GuestsPay" Enabled="@(pSumTotal > 0)" Arrows="false" Min="0" Max="pSumTotal" />
                                        }
                                        else
                                        {
                                                        @(DocumentUpdate.GuestsPay.ToString(DefaultConstants.FORMAT_CURRENCY))
                                                        <span>đ</span>
                                        }

                                                </td>
                                                <td colspan="3"></td>
                                            </tr>
                                            <tr>
                                                <td class="text-center"></td>
                                                <td colspan="3" class="font-weight-bold text-uppercase text-end">Công nợ:</td>
                                                <td colspan="2" class="text-red font-weight-bold text-end">
                                                    @{
                                            DocumentUpdate.Debt = pSumTotal <= 0 || DocumentUpdate.GuestsPay >= pSumTotal ? 0 
                                            : pSumTotal - DocumentUpdate.GuestsPay;
                                                    }
                                                    @(DocumentUpdate.Debt.ToString(DefaultConstants.FORMAT_CURRENCY))đ
                                                </td>
                                                <td colspan="3"></td>
                                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

<HDialog @bind-IsVisible="@IsShowOutBound"
         IsShowButtonSaveAdnCreate="false"
         Width="85%"
         SaveAndClosed="@(()=> SaveOutBoundHandler())"
         Title="@(IsCreateOutBound ? $"Lập lệnh và xuất kho cho dịch vụ: {OutBoundUpdate!.ServiceName}" : $"Sửa lệnh và xuất kho cho dịch vụ: {OutBoundUpdate!.ServiceName}")">
    <EditForm EditContext="@_EditOutBoundContext">
        <DataAnnotationsValidator />
        <div class="mt-2 row">
            <div class="col-6">
                <HLabel Value="Mã khách hàng:" />
                <TelerikTextBox @bind-Value="@OutBoundUpdate!.CusNo"  Enabled="false"  />
            </div>
            <div class="col-6">
                <HLabel Value="Chi nhánh:" />
                <TelerikTextBox @bind-Value="@OutBoundUpdate.BranchName"  Enabled="false"  />
            </div>
        </div>
        <div class="mt-2">
            <HLabel For="txtFullName" Value="Tên khách hàng:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.FullName" Id="txtFullName" Enabled="false"/>
        </div>
        <div class="mt-2">
            <HLabel For="txtListUserImplements" Value="Nhân viên:"  />
             <TelerikMultiSelect Data="@ListUsers"
                        @bind-Value="@OutBoundUpdate.ListUserImplements"
                        ValueField="@nameof(ComboboxModel.Code)"
                        TextField="@nameof(ComboboxModel.Name)"
                        FilterOperator="@Telerik.Blazor.StringFilterOperator.Contains"
                        Enabled="false"
                        AutoClose="false" Width="100%">
            </TelerikMultiSelect>
        </div>
        <div class="mt-2">
            <HLabel For="txtServiceName" Value="Liệu trình lần :" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.ServiceName" Id="txtServiceName" Enabled="false"/>
        </div>
         <div class="mt-2">
            <HLabel For="txtColorImplement" Value="Màu thực hiện cho khách :" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.ColorImplement" Id="txtColorImplement" />
        </div>
         <div class="mt-2">
            <HLabel For="txtColorImplement" Value="Dụng cụ :" />
        </div>
         <hr style="margin: 2px">
         @if (ListSuppplies != null && ListSuppplies.Any()){
            @foreach(var oItem in ListSuppplies)
            {
                 <div class="mt-2 row">
                     <div class="col-3">
                        <TelerikTextBox @bind-Value="@oItem.SuppliesName" Id="SuppliesName"  Enabled="false"/>
                     </div>
                     <div class="col-2" style="margin-top: 5px">
                         <HLabel For="txtColorImplement" Value="@("Đơn vị tính: "+oItem.EnumName)" /> 
                     </div>
                     <div class="col-3" style="margin-top: 5px">
                         <HLabel For="txtColorImplement" Value="@("Tổng số lượng tồn kho: "+oItem.QtyInv)" /> 
                     </div>
                     <div class="col-2" style="margin-top: 5px">
                         <HLabel For="txtColorImplement" Value="Nhập số lượng xuất:" /> 
                     </div>
                      <div class="col-2">
                        <TelerikNumericTextBox Min="1"  Step="1"  @bind-Value="@oItem.Qty" Id="txtQty" /> 
                     </div>
                </div>
            }
        }
        <hr style="margin-left: 2px;margin-right: 2px;margin-top: 10px;margin-bottom:10px">
        <div class="mt-2">
            <HLabel For="txtChemicalFormula" Value="Công thức mức:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.ChemicalFormula" Id="txtChemicalFormula"  Enabled="false"/>
        </div>
         <div class="mt-2">
            <HLabel For="txtAnesthesiaType" Value="Loại tệ:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.AnesthesiaType" Id="txtAnesthesiaType" />
        </div>
        <div class="mt-2">
            <HLabel For="txtDarkTestColor" Value="Màu thử thâm:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.DarkTestColor" Id="txtDarkTestColor" />
        </div>
        <div class="mt-2">
            <HLabel For="txtCoadingColor" Value="Màu phủ:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.CoadingColor" Id="txtCoadingColor" />
        </div>
        <div class="mt-2">
            <HLabel For="LibColor" Value="Màu lòng môi:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.LibColor" Id="LibColor" />
        </div>
        <div class="mt-2 row">
            <div class="col-6">
                <HLabel For="txtStartTime" Value="Thời gian bắt đầu:" />
                <TelerikDatePicker @bind-Value="@OutBoundUpdate.StartTime"
                    Placeholder=""
                    Format="dd/MM/yyyy HH:mm:ss"
                    Class="btn-noborder-radius-left">
                </TelerikDatePicker>
            </div>
            <div class="col-6">
                <HLabel For="txtEndTime" Value="Thời gian kết thúc:" />
                <TelerikDatePicker @bind-Value="@OutBoundUpdate.EndTime"
                    Placeholder=""
                    Format="dd/MM/yyyy HH:mm:ss"
                    Class="btn-noborder-radius-left">
                </TelerikDatePicker>
            </div>
        </div>
        <div class="mt-2 row">
             <div class="col-6">
                <HLabel For="Problems" Value="Đặc điểm khách hàng:" />
                <TelerikTextBox @bind-Value="@OutBoundUpdate.Remark" Id="Problems" />
            </div>
             <div class="col-6">
                <HLabel For="Problems" Value="Tình trạng sức khỏe:" />
                <TelerikTextBox @bind-Value="@OutBoundUpdate.HealthStatus" Id="Problems" />
            </div>
         </div>
        <div class="mt-2">
            <HLabel For="Problems" Value="Vấn đề gặp phải trong quá trình làm:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.Problems" Id="Problems" />
        </div>
         <div class="mt-2 row">
            <div class="col-6">
                <HLabel For="FullName" Value="Nhân viên xuất kho:" />
                <TelerikTextBox @bind-Value="@FullName" Id="FullName"  Enabled="false" />
             
             </div>
            <div class="col-6">
                <HLabel For="ChargeUser" Value="Nhân viên phụ trách:" IsRequired="true" />
                <TelerikComboBox Data="@ListUsers"
                    Value="@OutBoundUpdate.ChargeUser"
                    ValueExpression="@(() => OutBoundUpdate.ChargeUser)"
                    ValueChanged="@((string value) => OutBoundUpdate.ChargeUser = value)"
                    Placeholder="Chọn nhân viên phụ trách"
                    TextField="@nameof(ComboboxModel.Name)"
                    ValueField="@nameof(ComboboxModel.Code)"
                    Filterable="true"
                    ClearButton="false"
                    Id="ChargeUser"
                    Class="btn-noborder-radius-left"
                    Width="100%">
                </TelerikComboBox>
                <HValidationTooltip ValidationFor="@(()=> OutBoundUpdate.ChargeUser)" Id="cbbBranch" />
            </div>
        </div>
    </EditForm>
</HDialog>

