@page "/service-type" 
@page "/skin-type"
@page "/service-pack"
@page "/unit"
@page "/state-of-health"
@inherits EnumController


<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/add-new-icon.png" OnClick="@(()=> OnOpenDialogHandler())">Thêm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/remove_grid.png">Xóa dòng</ToolBarButton>
</TelerikToolBar>
<div class="h-table-content" style=" height: calc(100vh - 170px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>

    <TelerikGrid Data="@ListEnums"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 OnRowDoubleClick="@OnRowDoubleClickHandler"
                 @bind-SelectedItems="@SelectedEnums">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(EnumModel.EnumId) Aggregate="@GridAggregateType.Count" />
        </GridAggregates>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
            <GridColumn Field=@nameof(EnumModel.EnumId) Width="130px" MaxResizableWidth="150" Title="Mã danh mục">
                <Template>
                    @{
                        var model = (context as EnumModel);
                        <span class="h-link">@model!.EnumId</span>
                    }
                </Template>
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(EnumModel.EnumName) Width="270px" Title="Tên danh mục"></GridColumn>
            <GridColumn Field=@nameof(EnumModel.EnumTypeName) Width="150px" Title="Loại danh mục"></GridColumn>
            <GridColumn Field=@nameof(EnumModel.Description) Width="240px" Title="Mô tả"></GridColumn>
        </GridColumns>
    </TelerikGrid>
</div>
<HDialog @bind-IsVisible="@IsShowDialog"
    SaveAndClosed="@(()=> SaveDataHandler())"
    SaveAndCreate="@(()=> SaveDataHandler(EnumType.SaveAndCreate))"
    Title="@(IsCreate ? "Thêm mới danh mục" : $"Cập nhật danh mục {EnumUpdate!.EnumId}")">
    <EditForm EditContext="@_EditContext" >
        <DataAnnotationsValidator />
        <div>
            <HLabel Value="Mã danh mục:" />
            <TelerikTextBox @bind-Value="@EnumUpdate!.EnumId" Class="h-link" Enabled="false" />
        </div>
        <div class="mt-2">
            <HLabel For="txtEnumName" Value="Tên danh mục:" IsRequired="true" />
            <TelerikTextBox @bind-Value="@EnumUpdate.EnumName" Id="txtEnumName" />
            <HValidationTooltip ValidationFor="@(()=> EnumUpdate.EnumName)" Id="txtEnumName" />
        </div>
        <div class="mt-2">
            <HLabel For="cbbTypeEnum" Value="Loại danh mục:" IsRequired="true" />
            <TelerikComboBox Data="@ListTypeEnums"
                Value="@EnumUpdate.EnumType"
                ValueExpression="@(() => EnumUpdate.EnumType)"
                ValueChanged="@((string value) => EnumUpdate.EnumType = value)"
                Placeholder="Chọn chi nhánh"
                TextField="@nameof(ComboboxModel.Name)"
                ValueField="@nameof(ComboboxModel.Code)"
                Filterable="true" Enabled ="false"
                ClearButton="false"
                Id="cbbTypeEnum"
                Class="btn-noborder-radius-left"
                Width="100%">
            </TelerikComboBox>
            <HValidationTooltip ValidationFor="@(()=> EnumUpdate.EnumType)" Id="cbbTypeEnum" />
        </div>
        <div class="mt-2">
            <HLabel For="txtDesc" Value="Mô tả ngắn:" />
            <TelerikTextBox @bind-Value="@EnumUpdate.Description" Id="txtDesc" />
        </div>
    </EditForm>
</HDialog>

<HConfirm @ref="@_rDialogs" />