@page "/outbound-list"
@inherits OutBoundListController
<div class="h-content-filter">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="d-flex mt-1">
                <HLabel Value="Từ ngày/Đến ngày:" Style="width: 130px" />
                <div style="width: calc(100% - 130px)">
                    <div class="d-flex justify-content-between">
                        <div style="width: 50%;">
                            <TelerikDatePicker @bind-Value="@ItemFilter.FromDate"
                                               Placeholder=""
                                               Format="dd/MM/yyyy"
                                               Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                        <div style="width: 50%; margin-left: 2px;">
                            <TelerikDatePicker @bind-Value="@ItemFilter.ToDate"
                                               Placeholder=""
                                               Format="dd/MM/yyyy"
                                               Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/remove_grid.png" 
        OnClick="@(()=> OpenDialogDeleteHandler())">Hủy đơn</ToolBarButton>
</TelerikToolBar>
<div class="h-table-content" style=" height: calc(100vh - 230px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>
    <TelerikGrid Data="@ListOutBounds"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 OnRowDoubleClick="@OnRowDoubleClickHandler"
                 @bind-SelectedItems="@SelectedOutBounds">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true" MaxResizableWidth="30"></GridCheckboxColumn>
             <GridColumn Field=@nameof(OutBoundModel.BranchName) Width="170px" Title="Chi nhánh "></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.BaseEntry) Width="120px" MaxResizableWidth="100" Title="Mã đơn hàng">
                <Template>
                    @{
                        var model = (context as OutBoundModel);
                        <span class="h-link">@model!.BaseEntry</span>
                    }
                </Template>
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.VoucherNo) Width="135px" Title="Số lệnh"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.DateCreate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="160px" Title="Ngày giờ lập phiếu"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.FullName) Width="135px" Title="Tên khách hàng"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.ServiceName) Width="170px" Title="Tên dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.CusNo) Width="125px" Title="Mã KH"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.FullName) Width="170px" Title="Tên khách hàng"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.StartTime) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="150px" Title="Thời gian bắt đầu"></GridColumn>
             <GridColumn Field=@nameof(OutBoundModel.EndTime) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="150px" Title="Thời gian kết thúc"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.ReasonDelete) Width="170px" Title="Lý do hủy"></GridColumn>
        </GridColumns>
    </TelerikGrid>
</div>

<HDialog @bind-IsVisible="@IsShowDialogDelete"
         SaveAndClosed="@(()=> CancleOutBoundListHandler())"
         IsShowButtonSaveAdnCreate="false"
         Width="50%"
         Title="Xác nhận hủy phiếu xuất kho">
    <div>
        <HLabel For="txtReason" Value="Lý do hủy phiếu xuất kho:" IsRequired="true" />
        <TelerikTextBox @bind-Value="@ReasonDeny" Id="txtReason" />
    </div>
</HDialog>

<HDialog @bind-IsVisible="@IsShowOutBound"
         IsShowButtonSaveAdnCreate="false"
         Width="85%"
         Title="Xem thông tin chi tiết của phiếu xuất kho">
    <EditForm EditContext="@_EditOutBoundContext">
        <DataAnnotationsValidator />
        <div class="mt-2 row">
            <div class="col-6">
                <HLabel Value="Mã khách hàng:" />
                <TelerikTextBox @bind-Value="@OutBoundUpdate!.CusNo"  Enabled="false"  />
            </div>
            <div class="col-6">
                <HLabel Value="Chi nhánh:" />
                <TelerikTextBox @bind-Value="@OutBoundUpdate.BranchName"  Enabled="false"  />
            </div>
        </div>
        <div class="mt-2">
            <HLabel For="txtFullName" Value="Tên khách hàng:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.FullName" Id="txtFullName" Enabled="false"/>
        </div>
        <div class="mt-2">
            <HLabel For="txtListUserImplements" Value="Nhân viên:"  />
             <TelerikMultiSelect Data="@ListUsers"
                        @bind-Value="@OutBoundUpdate.ListUserImplements"
                        ValueField="@nameof(ComboboxModel.Code)"
                        TextField="@nameof(ComboboxModel.Name)"
                        FilterOperator="@Telerik.Blazor.StringFilterOperator.Contains"
                        Enabled="false"
                        AutoClose="false" Width="100%">
            </TelerikMultiSelect>
        </div>
        <div class="mt-2">
            <HLabel For="txtServiceName" Value="Liệu trình lần :" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.ServiceName" Id="txtServiceName" Enabled="false"/>
        </div>
         <div class="mt-2">
            <HLabel For="txtColorImplement" Value="Màu thực hiện cho khách :" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.ColorImplement" Id="txtColorImplement" />
        </div>
         <div class="mt-2">
            <HLabel For="txtColorImplement" Value="Dụng cụ :" />
        </div>
         <hr style="margin: 2px">
         @if (ListSuppplies != null && ListSuppplies.Any()){
            @foreach(var oItem in ListSuppplies)
            {
                 <div class="mt-2 row">
                     <div class="col-6">
                        <TelerikTextBox @bind-Value="@oItem.SuppliesName" Id="SuppliesName"  Enabled="false"/>
                     </div>
                      <div class="col-6">
                        <TelerikNumericTextBox Min="1"  Step="1"  @bind-Value="@oItem.Qty" Id="txtQty" /> 
                     </div>
                </div>
            }
        }
        <hr style="margin-left: 2px;margin-right: 2px;margin-top: 10px;margin-bottom:10px">
        <div class="mt-2">
            <HLabel For="txtChemicalFormula" Value="Công thức mức:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.ChemicalFormula" Id="txtChemicalFormula"  Enabled="false"/>
        </div>
         <div class="mt-2">
            <HLabel For="txtAnesthesiaType" Value="Loại tệ:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.AnesthesiaType" Id="txtAnesthesiaType" />
        </div>
        <div class="mt-2">
            <HLabel For="txtDarkTestColor" Value="Màu thử thâm:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.DarkTestColor" Id="txtDarkTestColor" />
        </div>
        <div class="mt-2">
            <HLabel For="txtCoadingColor" Value="Màu phủ:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.CoadingColor" Id="txtCoadingColor" />
        </div>
        <div class="mt-2">
            <HLabel For="LibColor" Value="Màu lòng môi:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.LibColor" Id="LibColor" />
        </div>
        <div class="mt-2 row">
            <div class="col-6">
                <HLabel For="txtStartTime" Value="Thời gian bắt đầu:" />
                <TelerikDatePicker @bind-Value="@OutBoundUpdate.StartTime"
                    Placeholder=""
                    Format="dd/MM/yyyy HH:mm:ss"
                    Class="btn-noborder-radius-left">
                </TelerikDatePicker>
            </div>
            <div class="col-6">
                <HLabel For="txtEndTime" Value="Thời gian kết thúc:" />
                <TelerikDatePicker @bind-Value="@OutBoundUpdate.EndTime"
                    Placeholder=""
                    Format="dd/MM/yyyy HH:mm:ss"
                    Class="btn-noborder-radius-left">
                </TelerikDatePicker>
            </div>
        </div>
        <div class="mt-2 row">
             <div class="col-6">
                <HLabel For="Problems" Value="Đặc điểm khách hàng:" />
                <TelerikTextBox @bind-Value="@OutBoundUpdate.Remark" Id="Problems" />
            </div>
             <div class="col-6">
                <HLabel For="Problems" Value="Tình trạng sức khỏe:" />
                <TelerikTextBox @bind-Value="@OutBoundUpdate.HealthStatus" Id="Problems" />
            </div>
         </div>
        <div class="mt-2">
            <HLabel For="Problems" Value="Vấn đề gặp phải trong quá trình làm:" />
            <TelerikTextBox @bind-Value="@OutBoundUpdate.Problems" Id="Problems" />
        </div>
         <div class="mt-2 row">
            <div class="col-6">
                <HLabel For="FullName" Value="Nhân viên xuất kho:" />
                <TelerikTextBox @bind-Value="@FullName" Id="FullName"  Enabled="false" />
             
             </div>
            <div class="col-6">
                <HLabel For="ChargeUser" Value="Nhân viên phụ trách:" IsRequired="true" />
                <TelerikComboBox Data="@ListUsers"
                    Value="@OutBoundUpdate.ChargeUser"
                    ValueExpression="@(() => OutBoundUpdate.ChargeUser)"
                    ValueChanged="@((string value) => OutBoundUpdate.ChargeUser = value)"
                    Placeholder="Chọn nhân viên phụ trách"
                    TextField="@nameof(ComboboxModel.Name)"
                    ValueField="@nameof(ComboboxModel.Code)"
                    Filterable="true"
                    ClearButton="false"
                    Id="ChargeUser"
                    Class="btn-noborder-radius-left"
                    Width="100%">
                </TelerikComboBox>
                <HValidationTooltip ValidationFor="@(()=> OutBoundUpdate.ChargeUser)" Id="cbbBranch" />
            </div>
        </div>
    </EditForm>
</HDialog>

