@page "/outbound-list"
@inherits OutBoundListController
<div class="h-content-filter">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="d-flex mt-1">
                <HLabel Value="Từ ngày/Đến ngày:" Style="width: 130px" />
                <div style="width: calc(100% - 130px)">
                    <div class="d-flex justify-content-between">
                        <div style="width: 50%;">
                            <TelerikDatePicker @bind-Value="@ItemFilter.FromDate"
                                               Placeholder=""
                                               Format="dd/MM/yyyy"
                                               Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                        <div style="width: 50%; margin-left: 2px;">
                            <TelerikDatePicker @bind-Value="@ItemFilter.ToDate"
                                               Placeholder=""
                                               Format="dd/MM/yyyy"
                                               Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="d-flex mt-1">
                <HLabel Value="Loại xuất kho:" Style="width: 130px" />
                <div style="width: calc(100% - 130px)">
                    <div class="d-flex justify-content-between">
                        <div style="width: 50%;">
                           <TelerikComboBox @bind-Value="@pType"
                            Data="@ListType"
                            Placeholder="Chọn loại phiếu xuất..."
                            ClearButton="false"
                            TextField="@nameof(ComboboxModel.Name)"
                            ValueField="@nameof(ComboboxModel.Code)"
                            Filterable="true"
                            Class="btn-noborder-radius-left"
                            Id="txtTypeTimeId" Width="100%">
                        </TelerikComboBox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/remove_grid.png" 
        OnClick="@(()=> OpenDialogDeleteHandler())">Hủy phiếu xuất kho</ToolBarButton>
</TelerikToolBar>
<div class="h-table-content" style=" height: calc(100vh - 230px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>
    <TelerikGrid Data="@ListOutBounds"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 OnRowDoubleClick="@OnRowDoubleClickHandler"
                 @bind-SelectedItems="@SelectedOutBounds">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true" MaxResizableWidth="30"></GridCheckboxColumn>
             <GridColumn Field=@nameof(OutBoundModel.BranchName) Width="170px" Title="Chi nhánh "></GridColumn>
             <GridColumn Field=@nameof(OutBoundModel.VoucherNoDraft) Width="150px" MaxResizableWidth="100" Title="Số lệnh đơn hàng">
                <Template>
                    @{
                        var model = (context as OutBoundModel);
                         <span class="h-link" @onclick="@(()=> OnClickHandlerNavTicKet((context as OutBoundModel)!))" >@model!.VoucherNoDraft</span>
                    }
                </Template>
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
             <GridColumn Field=@nameof(OutBoundModel.VoucherNo) Width="200px" Title="Số lệnh phiếu xuất kho"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.ServiceName) Width="170px" Title="Tên dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.DateCreate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="160px" Title="Ngày giờ lập phiếu"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.FullName) Width="135px" Title="Tên khách hàng"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.CusNo) Width="125px" Title="Mã KH"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.FullName) Width="170px" Title="Tên khách hàng"></GridColumn>
            <GridColumn Field=@nameof(OutBoundModel.StartTime) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="150px" Title="Thời gian bắt đầu"></GridColumn>
             <GridColumn Field=@nameof(OutBoundModel.EndTime) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="150px" Title="Thời gian kết thúc"></GridColumn>
        </GridColumns>
    </TelerikGrid>
</div>

<HDialog @bind-IsVisible="@IsShowDialogDelete"
         SaveAndClosed="@(()=> CancleOutBoundListHandler())"
         IsShowButtonSaveAdnCreate="false"
         Width="50%"
         Title="Xác nhận hủy phiếu xuất kho">
    <div>
        <HLabel For="txtReason" Value="Lý do hủy phiếu xuất kho:" IsRequired="true" />
        <TelerikTextBox @bind-Value="@ReasonDeny" Id="txtReason" />
    </div>
</HDialog>

<HDialog @bind-IsVisible="@IsShowOutBound"
         IsShowButtonSaveAdnCreate="false"
         IsShowButtonSaveAndClosed="false"
         Width="85%"
         Title="Xem thông tin chi tiết của phiếu xuất kho">
    <EditForm EditContext="@_EditOutBoundContext">
        <DataAnnotationsValidator />
     <div class="row row-gap-2">
            <div class="col-md-4 col-sm-12">
                <HLabel Value="Mã khách hàng: " />
                <strong>@OutBoundUpdate!.CusNo</strong>
            </div>
            <div class="col-md-4 col-sm-12">
                <HLabel For="txtFullName" Value="Tên khách hàng: " />
                <strong>@OutBoundUpdate.FullName</strong>
            </div>
            <div class="col-md-4 col-sm-12">
                <HLabel Value="Cơ sở: " />
                <strong>@OutBoundUpdate.BranchName</strong>
            </div>
        </div>
        <div class="mt-2">
            <HLabel For="txtListUserImplements" Value="Nhân viên thực hiện: "  />
            @if(OutBoundUpdate.ListUserImplements != null && OutBoundUpdate.ListUserImplements.Any())
            {
                <strong>
                    @($" {string.Join(", ", OutBoundUpdate.ListUserImplements)}")
                </strong>
            }
        </div>
        <div class="mt-2">
            <HLabel For="txtServiceName" Value="Liệu trình lần: " />
            <strong>@($"{OutBoundUpdate.ServiceCode} - {OutBoundUpdate.ServiceName}")</strong>
        </div>
         <div class="mt-2">
            <HLabel For="txtColorImplement" Value="Màu thực hiện cho khách: " />
            <strong>@OutBoundUpdate.ColorImplement</strong>
        </div>
         @if (ListSuppplies != null && ListSuppplies.Any()){
                @foreach(var oItem in ListSuppplies)
                {
                     <div class="mt-2 row">
                         <div class="col-3">
                            <strong> @($"{oItem.SuppliesName} ")</strong>
                         </div>
                         <div class="col-3" style="margin-top: 5px">
                            <HLabel For="txtColorImplement" Value="@("Đơn vị tính: ")" /> 
                            <strong> @($"{oItem.EnumName} ")</strong>
                         </div>
                         <div class="col-3" style="margin-top: 5px">
                             <HLabel For="txtColorImplement" Value="@("Tổng số lượng tồn kho: ")" /> 
                              <strong> @($"{oItem.QtyInv} ")</strong>
                         </div>
                         <div class="col-3" style="margin-top: 5px">
                             <HLabel For="txtColorImplement" Value="Nhập số lượng xuất:" /> 
                              <strong> @($"{oItem.Qty} ")</strong> 
                         </div>
                    </div>
                      <div class="dropdown-divider"></div>
                }
            }
        <hr style="margin-left: 2px;margin-right: 2px;margin-top: 10px;margin-bottom:10px">
        <div class="mt-2">
            <HLabel For="txtChemicalFormula" Value="Công thức mức:" />
            <strong>@OutBoundUpdate.ChemicalFormula</strong>  
        </div>
        @* <div class="mt-2">
            <HLabel For="txtAnesthesiaType" Value="Loại tệ:" />
            <span>@OutBoundUpdate.AnesthesiaType</span> 
        </div>*@
        <div class="mt-2">
            <HLabel For="txtDarkTestColor" Value="Màu thử thâm:" />
            <strong>@OutBoundUpdate.DarkTestColor</strong> 
        </div>
        <div class="mt-2">
            <HLabel For="txtCoadingColor" Value="Màu phủ:" />
            <strong>@OutBoundUpdate.CoadingColor</strong> 
        </div>
        <div class="mt-2">
            <HLabel For="LibColor" Value="Màu lòng môi:" />
            <strong>@OutBoundUpdate.LibColor</strong> 
        </div>
        <div class="mt-2 row">
            <div class="col-6">
                <HLabel For="txtStartTime" Value="Thời gian bắt đầu:" />
                 <strong>@OutBoundUpdate.StartTime</strong> 
            </div>
            <div class="col-6">
                <HLabel For="txtEndTime" Value="Thời gian kết thúc:" />
                <strong>@OutBoundUpdate.EndTime</strong> 
            </div>
        </div>
        <div class="mt-2 row">
             <div class="col-6">
                <HLabel For="Problems" Value="Đặc điểm khách hàng:" />
                <strong>@OutBoundUpdate.Remark</strong>  
            </div>
             <div class="col-6">
                <HLabel For="Problems" Value="Tình trạng sức khỏe:" />
                <strong>@OutBoundUpdate.HealthStatus</strong>  
            </div>
         </div>
        <div class="mt-2">
            <HLabel For="Problems" Value="Vấn đề gặp phải trong quá trình làm:" />
             <strong>@OutBoundUpdate.Problems</strong>  
        </div>
         <div class="mt-2 row">
            <div class="col-6">
                <HLabel For="FullName" Value="Nhân viên xuất kho:" />
                  <strong>@FullName</strong>   
             </div>
            <div class="col-6">
                <HLabel For="ChargeUser" Value="Nhân viên phụ trách:"/> 
                @if(OutBoundUpdate.ListChargeUser != null && OutBoundUpdate.ListChargeUser.Any())
                {
                    <strong>
                        @($" {string.Join(", ", OutBoundUpdate.ListChargeUser)}")
                    </strong>
                }
            </div>
        </div>
    </EditForm>
</HDialog>

