@using System.Linq;
@using System;
@using System.Globalization;
@page "/report-outbound" 
@page "/report-service" 
@page "/report-user"  
@inherits ReportController
<div class="h-content-filter">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            @if(pKind==nameof(Kind.QuiThang))
            {
            <div class="d-flex mt-1">
                <HLabel Value="Quí - Tháng:" IsRequired="true" Style="width: 130px" />
                    <div style="width: calc(100% - 130px)">
                        <TelerikComboBox Value="@ItemFilter.TypeTime"
                            ValueChanged="@((string typeTime) => SelectedTypeTimeChanged(typeTime))"
                            Data="@ListTypeTime"
                            Placeholder="Chọn Tháng (Quí)..."
                            ClearButton="false"
                            TextField="@nameof(ComboboxModel.Name)"
                            ValueField="@nameof(ComboboxModel.Code)"
                            Filterable="true"
                            Class="btn-noborder-radius-left"
                            Id="txtTypeTimeId" Width="100%">
                        </TelerikComboBox>
                    </div> 
            </div>
            }
            @if(pKind==nameof(Kind.TuNgayDenNgay))
            {
            <div class="d-flex mt-1">
                <HLabel Value="Từ ngày/Đến ngày:" Style="width: 130px" />
                <div style="width: calc(100% - 130px)">
                    <div class="d-flex justify-content-between">
                        <div style="width: 50%;">
                            <TelerikDatePicker @bind-Value="@ItemFilter.FromDate"
                                                Placeholder=""
                                                Format="dd/MM/yyyy"
                                                Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                        <div style="width: 50%; margin-left: 2px;">
                            <TelerikDatePicker @bind-Value="@ItemFilter.ToDate"
                                                Placeholder=""
                                                Format="dd/MM/yyyy"
                                                Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                    </div>
                </div>
            </div>
            }
            <div class="d-flex mt-1" style="margin-top: 5px">
                <HLabel Value="Chi nhánh:" Style="width: 130px" IsRequired="true"/>
                <div style="width: calc(100% - 130px)">
                        <TelerikComboBox Data="@ListBranchs"
                        Value="@ItemFilter.BranchId"
                        ValueExpression="@(() => ItemFilter.BranchId)"
                        ValueChanged="@((string value) => ItemFilter.BranchId = value)"
                        Placeholder="Chọn chi nhánh"
                        TextField="@nameof(BranchModel.BranchName)"
                        ValueField="@nameof(BranchModel.BranchId)"
                        Filterable="true"
                        ClearButton="false"
                        Id="cbbBranch"
                        Class="btn-noborder-radius-left"
                        Width="100%">
                    </TelerikComboBox>
                </div> 
            </div>   
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="d-flex mt-1">
                <HLabel Value="Xem theo:" IsRequired="true" Style="width: 180px" />
                    <div style="width: calc(100% - 130px)">
                        <TelerikComboBox @bind-Value="@pKind"
                            Data="@ListKinds"
                            Placeholder="Xem theo..."
                            ClearButton="false"
                            TextField="@nameof(ComboboxModel.Name)"
                            ValueField="@nameof(ComboboxModel.Code)"
                            Filterable="true"
                            Class="btn-noborder-radius-left"
                            Id="txtTypeTimeId" Width="100%">
                        </TelerikComboBox>
                    </div> 
            </div>
            @if (pReportType == nameof(ReportType.@DoanhThuDichVuLoaiDichVu))
            {
                <div class="d-flex mt-1">
                    <HLabel Value="Dịch vụ - Loại dịch vụ:" IsRequired="true" Style="width: 180px" />
                    <div style="width: calc(100% - 130px)">
                        <TelerikComboBox @bind-Value="@pServiceType"
                            Data="@ListServiceTypes"
                            Placeholder="Xem theo DV- LDV..."
                            ClearButton="false"
                            TextField="@nameof(ComboboxModel.Name)"
                            ValueField="@nameof(ComboboxModel.Code)"
                            Filterable="true"
                            Class="btn-noborder-radius-left"
                            Id="txtServiceTypeId" Width="100%">
                        </TelerikComboBox>
                    </div> 
                </div>
            }
            else if (pReportType == nameof(ReportType.@BaoCaoKPINhanVien))
            {
                <div class="d-flex mt-1">
                    <HLabel Value="NVTVan - NVTHien:" IsRequired="true" Style="width: 180px" />
                    <div style="width: calc(100% - 130px)">
                        <TelerikComboBox @bind-Value="@pUserType"
                            Data="@ListUserTypes"
                            Placeholder="Xem theo NVTVan- NVTHien..."
                            ClearButton="false"
                            TextField="@nameof(ComboboxModel.Name)"
                            ValueField="@nameof(ComboboxModel.Code)"
                            Filterable="true"
                            Class="btn-noborder-radius-left"
                            Id="txtServiceTypeId" Width="100%">
                        </TelerikComboBox>
                    </div> 
                </div>
            }
        </div>
         <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="d-flex mt-1">
                <HLabel Value="Loại hiển thị:" IsRequired="true" Style="width: 180px" />
                    <div style="width: calc(100% - 130px)">
                        <TelerikComboBox Value="@pChart"
                             ValueChanged="@((string code) => SelectedChart(code))"
                            Data="@ListAndCharts"
                            Placeholder="Xem loại hiển thị..."
                            ClearButton="false"
                            TextField="@nameof(ComboboxModel.Name)"
                            ValueField="@nameof(ComboboxModel.Code)"
                            Filterable="true"
                            Class="btn-noborder-radius-left"
                            Enabled="@(pKind == nameof(Kind.QuiThang)?true:false)"
                            Id="txtTypeTimeId" Width="100%">
                        </TelerikComboBox>
                    </div> 
            </div>
        </div>

    </div>
</div>
<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
</TelerikToolBar>
<div class="h-table-content" style=" height: calc(100vh - 230px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>
    @if(pChart == nameof(ChartReportType.List)){
    <TelerikGrid Data="@ListReports"
                @ref="@Grid"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 ShowColumnMenu="true"
                 @bind-SelectedItems="@SelectedReports">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input"  />
            <GridColumnMenuChooser ></GridColumnMenuChooser>
             
            @*Muốn không hiển thị chọn cột*@
            @*<GridColumnMenuSettings>
            <GridColumnMenuChooser>
                <Template>
                    @{
                        var columns = context.Columns;
                        foreach (var column in columns)
                        {
                            <div style="border: solid 1px red">
                                <GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
                            </div>
                        }
                    }

                </Template>
            </GridColumnMenuChooser>
        </GridColumnMenuSettings>*@
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(ReportModel.BranchName) Aggregate="@GridAggregateType.Count" />
            <GridAggregate Field=@nameof(ReportModel.TotalReveune) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_01) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_02) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_03) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_04) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_05) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_06) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_07) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_08) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_09) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_10) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_11) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_12) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.LineTotal) Aggregate="@GridAggregateType.Sum" />
        </GridAggregates>
        <GridColumns>
         <GridCheckboxColumn Width="30px" SelectAll="@true" MaxResizableWidth="30"></GridCheckboxColumn>
        @if(pReportType == nameof(ReportType.@DoanhThuDichVuLoaiDichVu) && pServiceType == nameof(ServiceType.Service) && pKind == nameof(Kind.QuiThang)){
            <GridColumn Filterable="false" Field=@nameof(ReportModel.BranchName) Width="170px" MaxResizableWidth="100" Title="Tên chi nhánh">
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.EnumId) Width="140px" Title="Mã loại dịch vụ" Visible="false"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.EnumName) Width="150px" Title="Tên loại dịch vụ" Visible="false"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.ServiceCode) Width="170px" Title="Mã dịch vụ "></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.ServiceName) Width="170px" Title="Tên dịch vụ "></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.TotalReveune) Width="170px" Title="Tổng tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
            @if (ItemFilter.TypeTime == nameof(TypeTime.Thang)){
            <GridColumn Filterable="false"  Field=@nameof(ReportModel.Total_01) Width="90px" Title="Tháng 1" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                     @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_02) Width="90px" Title="Tháng 2"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_03) Width="90px" Title="Tháng 3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_04) Width="90px" Title="Tháng 4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_05) Width="90px" Title="Tháng 5" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_06) Width="90px" Title="Tháng 6" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_07) Width="90px" Title="Tháng 7" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_08) Width="90px" Title="Tháng 8" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_09) Width="90px" Title="Tháng 9" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_10) Width="100px" Title="Tháng 10" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_11) Width="100px" Title="Tháng 11" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_12) Width="100px" Title="Tháng 12" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
            }else if (ItemFilter.TypeTime == nameof(TypeTime.Qui))
            {
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_01) Width="90px" Title="Quí 1"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                     @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_02) Width="90px" Title="Quí 2" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_03) Width="90px" Title="Quí 3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_04) Width="90px" Title="Quí 4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
            }
        }else if(pReportType == nameof(ReportType.@DoanhThuDichVuLoaiDichVu) && pServiceType == nameof(ServiceType.ServiceType) && pKind == nameof(Kind.QuiThang)){
        <GridColumn Filterable="false" Field=@nameof(ReportModel.BranchName) Width="170px" MaxResizableWidth="100" Title="Tên Chi nhánh">
            <FooterTemplate>
                Số dòng: @context.Count
            </FooterTemplate>
        </GridColumn>
        <GridColumn Filterable="false" Field=@nameof(ReportModel.EnumId) Width="150px" Title="Mã loại dịch vụ"></GridColumn>
        <GridColumn Filterable="false" Field=@nameof(ReportModel.EnumName) Width="170px" Title="Tên loại dịch vụ "></GridColumn>
        <GridColumn Filterable="false" Field=@nameof(ReportModel.TotalReveune) Width="170px" Title="Tổng tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
            <FooterTemplate>
            Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
        </FooterTemplate>
        </GridColumn>
        if (ItemFilter.TypeTime == nameof(TypeTime.Thang)){
        <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_01) Width="90px" Title="Tháng 1" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
            <FooterTemplate>
                    @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_02) Width="90px" Title="Tháng 2"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_03) Width="90px" Title="Tháng 3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_04) Width="90px" Title="Tháng 4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_05) Width="90px" Title="Tháng 5" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_06) Width="90px" Title="Tháng 6" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_07) Width="90px" Title="Tháng 7" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_08) Width="90px" Title="Tháng 8" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_09) Width="90px" Title="Tháng 9" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_10) Width="100px" Title="Tháng 10" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_11) Width="100px" Title="Tháng 11" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_12) Width="100px" Title="Tháng 12" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
        }else if (ItemFilter.TypeTime == nameof(TypeTime.Qui))
        {
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_01) Width="90px" Title="Quí 1"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
            <FooterTemplate>
                    @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_02) Width="90px" Title="Quí 2" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_03) Width="90px" Title="Quí 3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_04) Width="90px" Title="Quí 4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            }
        }
        else if(pReportType == nameof(ReportType.@BaoCaoKPINhanVien) && pUserType == nameof(UserType.ConsultUser) && pKind == nameof(Kind.QuiThang)){
            <GridColumn Filterable="false" Field=@nameof(ReportModel.BranchName) Width="170px" MaxResizableWidth="100" Title="Tên chi nhánh">
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.EnumId) Width="150px" Title="Mã loại dịch vụ"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.EnumName) Width="170px" Title="Tên loại dịch vụ "></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.ServiceCode) Width="150px" Title="Mã dịch vụ"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.ServiceName) Width="160px" Title="Tên dịch vụ"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.ConsultUserId) Width="180px" Title="Mã nhân viên tư vấn"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.ConsultUserName) Width="180px" Title="Tên nhân viên tư vấn"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.TotalReveune) Width="170px" Title="Tổng tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
            @if (ItemFilter.TypeTime == nameof(TypeTime.Thang)){
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_01) Width="90px" Title="Tháng 1" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                     @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_02) Width="90px" Title="Tháng 2"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_03) Width="90px" Title="Tháng 3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_04) Width="90px" Title="Tháng 4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_05) Width="90px" Title="Tháng 5" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_06) Width="90px" Title="Tháng 6" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_07) Width="90px" Title="Tháng 7" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_08) Width="90px" Title="Tháng 8" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_09) Width="90px" Title="Tháng 9" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_10) Width="100px" Title="Tháng 10" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_11) Width="100px" Title="Tháng 11" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_12) Width="100px" Title="Tháng 12" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
            }else if (ItemFilter.TypeTime == nameof(TypeTime.Qui))
            {
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_01) Width="90px" Title="Quí 1"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                     @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_02) Width="90px" Title="Quí 2" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_03) Width="90px" Title="Quí 3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_04) Width="90px" Title="Quí 4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
            }
        }
        else if(pReportType == nameof(ReportType.@BaoCaoKPINhanVien) && pUserType == nameof(UserType.ImplementUser) && pKind == nameof(Kind.QuiThang)){
            <GridColumn Filterable="false" Field=@nameof(ReportModel.BranchName) Width="170px" MaxResizableWidth="100" Title="Tên chi nhánh">
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.EnumId) Width="150px" Title="Mã loại dịch vụ"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.EnumName) Width="170px" Title="Tên loại dịch vụ "></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.ServiceCode) Width="150px" Title="Mã dịch vụ"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.ServiceName) Width="160px" Title="Tên dịch vụ"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.ImplementUserId) Width="180px" Title="Mã nhân viên thực hiện"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.ImplementUserName) Width="180px" Title="Tên nhân viên tư vấn"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.TotalReveune) Width="170px" Title="Tổng tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
            @if (ItemFilter.TypeTime == nameof(TypeTime.Thang)){
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_01) Width="90px" Title="Tháng 1" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                     @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_02) Width="90px" Title="Tháng 2"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_03) Width="90px" Title="Tháng 3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_04) Width="90px" Title="Tháng 4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_05) Width="90px" Title="Tháng 5" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_06) Width="90px" Title="Tháng 6" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_07) Width="90px" Title="Tháng 7" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_08) Width="90px" Title="Tháng 8" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_09) Width="90px" Title="Tháng 9" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_10) Width="100px" Title="Tháng 10" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_11) Width="100px" Title="Tháng 11" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_12) Width="100px" Title="Tháng 12" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
            }else if (ItemFilter.TypeTime == nameof(TypeTime.Qui))
            {
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_01) Width="90px" Title="Quí 1"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                     @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_02) Width="90px" Title="Quí 2" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_03) Width="90px" Title="Quí 3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Filterable="false" Field=@nameof(ReportModel.Total_04) Width="90px" Title="Quí 4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
            }
        }
         else if(pReportType == nameof(ReportType.@DoanhThuDichVuLoaiDichVu) && pKind == nameof(Kind.TuNgayDenNgay) && pServiceType == nameof(ServiceType.Service)){
            <GridColumn Filterable="false" Field=@nameof(ReportModel.BranchName) Width="170px" MaxResizableWidth="100" Title="Tên chi nhánh">
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Visible="false" Field=@nameof(ReportModel.EnumId) Width="150px" Title="Mã loại dịch vụ"></GridColumn>
            <GridColumn Filterable="false" Visible="false" Field=@nameof(ReportModel.EnumName) Width="170px" Title="Tên loại dịch vụ "></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.ServiceCode) Width="150px" Title="Mã dịch vụ"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.ServiceName) Width="160px" Title="Tên dịch vụ"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Qty) Width="150px" Title="Tổng số lượng" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Price) Width="150px" Title="Giá" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.LineTotal) Width="170px" Title="Thành tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
        }
        else if(pReportType == nameof(ReportType.@DoanhThuDichVuLoaiDichVu) && pKind == nameof(Kind.TuNgayDenNgay) && pServiceType == nameof(ServiceType.ServiceType)){
            <GridColumn Filterable="false" Field=@nameof(ReportModel.BranchName) Width="170px" MaxResizableWidth="100" Title="Tên chi nhánh">
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.EnumId) Width="150px" Title="Mã loại dịch vụ"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.EnumName) Width="170px" Title="Tên loại dịch vụ "></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Qty) Width="150px" Title="Tổng số lượng" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.Price) Width="150px" Title="Giá" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
            <GridColumn Filterable="false" Field=@nameof(ReportModel.LineTotal) Width="110px" Title="Thành tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
        }
        </GridColumns>
    </TelerikGrid>
    }
    else if(pChart == nameof(ChartReportType.Chart) && pKind == nameof(Kind.QuiThang))
    {
   @* <div style="border: 1px solid red;width:@ContainerWidth; height: @ContainerHeight">

    <TelerikChart Width ="100%" Height="100%" @ref="theChart">

        <ChartSeriesItems>
            <ChartSeries Type="ChartSeriesType.Column" Name="Product 1" Data="@someData">
            </ChartSeries>
            <ChartSeries Type="ChartSeriesType.Column" Name="Product 2" Data="@someData">
            </ChartSeries>
        </ChartSeriesItems>
        <ChartCategoryAxes>
            <ChartCategoryAxis Categories="@xAxisItems"></ChartCategoryAxis>
        </ChartCategoryAxes>
        <ChartCategoryAxes>
            <ChartCategoryAxis Categories="@xAxisItems"></ChartCategoryAxis>
        </ChartCategoryAxes>
        <ChartTitle Text="Quarterly sales trend"></ChartTitle>

    </TelerikChart>

    </div>*@

     <div style="border: 1px solid red;width:@ContainerWidth; height: @ContainerHeight">

    <TelerikChart Width ="100%" Height="100%" @ref="theChart">

        <ChartSeriesItems>
            @foreach(var item in ListChart){
                <ChartSeries Type="ChartSeriesType.Column" Name="@(item.Title)"   Data="@item.ListValue">
                    <ChartSeriesTooltip  Visible="true">
                           <Template>
                                @if (context.DataItem != null)
                                {
                                    double doubleValue = Convert.ToDouble(context.DataItem);
                                    <span>@string.Format("{0: #,###.## } VNĐ", doubleValue)</span>
                                }
                            </Template>
                    </ChartSeriesTooltip>
                </ChartSeries>
            }
        </ChartSeriesItems>
        @foreach(var item in ListChart){
            <ChartCategoryAxes>
                <ChartCategoryAxis Categories="@item.ListTitle" ></ChartCategoryAxis>
            </ChartCategoryAxes>
        }
        <ChartTitle Text="@(TilteReport)"></ChartTitle>

    </TelerikChart>

    </div>
    }
</div>

@code{
     string ContainerWidth { get; set; } = "1380px";
    string ContainerHeight { get; set; } = "400px";
    Telerik.Blazor.Components.TelerikChart theChart { get; set; }

    public List<object> someData = new List<object>() { 10, 2, 7, 5 };

    public string[] xAxisItems = new string[] { "Q1", "Q2", "Q3", "Q4" };
}