@page "/report-revenue-month-quarter-service" 
@page "/report-revenue-month-quarter-service-type" 
@page "/report-revenue-service" 
@page "/report-revenue-service-type" 
@page "/report-revenue-month-quarter-consult-user" 
@page "/report-revenue-month-quarter-implement-user" 
@inherits ReportController
<div class="h-content-filter">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
            @if(ItemFilter.Type == nameof(ReportType.DoanhThuQuiThangTheoDichVu)
            || ItemFilter.Type == nameof(ReportType.DoanhThuQuiThangTheoLoaiDichVu)
            || ItemFilter.Type == nameof(ReportType.DoanhThuQuiThangTheoNhanVienThucHien)
            || ItemFilter.Type == nameof(ReportType.DoanhThuQuiThangTheoNhanVienTuVan))
            {
            <div class="d-flex ">
                <HLabel Value="Tình trạng:" IsRequired="true" Style="width: 130px" />
                    <div style="width: calc(100% - 130px)">
                        <TelerikComboBox Value="@ItemFilter.TypeTime"
                            ValueChanged="@((string typeTime) => SelectedTypeTimeChanged(typeTime))"
                            Data="@ListTypeTime"
                            Placeholder="Chọn Tháng (Quí)..."
                            ClearButton="false"
                            TextField="@nameof(ComboboxModel.Name)"
                            ValueField="@nameof(ComboboxModel.Code)"
                            Filterable="true"
                            Class="btn-noborder-radius-left"
                            Id="txtTypeTimeId" Width="100%">
                        </TelerikComboBox>
                    </div> 
            </div>
            }
            @if (ItemFilter.Type == nameof(ReportType.DoanhThuTheoDichVu)
         || ItemFilter.Type == nameof(ReportType.DoanhThuTheoLoaiDichVu))
            {
                <div class="d-flex mt-1">
                    <HLabel Value="Từ ngày/Đến ngày:" Style="width: 130px" />
                <div style="width: calc(100% - 130px)">
                    <div class="d-flex justify-content-between">
                        <div style="width: 50%;">
                            <TelerikDatePicker @bind-Value="@ItemFilter.FromDate"
                                               Placeholder=""
                                               Format="dd/MM/yyyy"
                                               Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                        <div style="width: 50%; margin-left: 2px;">
                            <TelerikDatePicker @bind-Value="@ItemFilter.ToDate"
                                               Placeholder=""
                                               Format="dd/MM/yyyy"
                                               Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
</TelerikToolBar>
<div class="h-table-content" style=" height: calc(100vh - 230px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>
    <TelerikGrid Data="@ListReports"
                @ref="@Grid"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 @bind-SelectedItems="@SelectedReports">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(ReportModel.BranchName) Aggregate="@GridAggregateType.Count" />
            <GridAggregate Field=@nameof(ReportModel.TotalReveune) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_01) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_02) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_03) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_04) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_05) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_06) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_07) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_08) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_09) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_10) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_11) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.Total_12) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(ReportModel.LineTotal) Aggregate="@GridAggregateType.Sum" />
        </GridAggregates>
        <GridColumns>
         <GridCheckboxColumn Width="30px" SelectAll="@true" MaxResizableWidth="30"></GridCheckboxColumn>
        @if(ItemFilter.Type == nameof(ReportType.@DoanhThuQuiThangTheoDichVu)){
            <GridColumn Field=@nameof(ReportModel.BranchName) Width="170px" MaxResizableWidth="100" Title="Tên chi nhánh">
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.EnumId) Width="140px" Title="Mã loại dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.EnumName) Width="150px" Title="Tên loại dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.ServiceCode) Width="170px" Title="Mã dịch vụ "></GridColumn>
            <GridColumn Field=@nameof(ReportModel.ServiceName) Width="170px" Title="Tên dịch vụ "></GridColumn>
            <GridColumn Field=@nameof(ReportModel.TotalReveune) Width="170px" Title="Tổng tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
            @if (ItemFilter.TypeTime == nameof(TypeTime.Thang)){
            <GridColumn Field=@nameof(ReportModel.Total_01) Width="90px" Title="T1" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                     @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_02) Width="90px" Title="T2"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_03) Width="90px" Title="Th3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_04) Width="90px" Title="T4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_05) Width="90px" Title="T5" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_06) Width="90px" Title="T6" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_07) Width="90px" Title="T7" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_08) Width="90px" Title="T8" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_09) Width="90px" Title="T9" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_10) Width="90px" Title="T10" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_11) Width="90px" Title="T11" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_12) Width="90px" Title="T12" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
            }else if (ItemFilter.TypeTime == nameof(TypeTime.Qui))
            {
                <GridColumn Field=@nameof(ReportModel.Total_01) Width="90px" Title="Q1"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                     @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_02) Width="90px" Title="Q2" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_03) Width="90px" Title="Q3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_04) Width="90px" Title="Q4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
            }
        }else if(ItemFilter.Type == nameof(ReportType.@DoanhThuQuiThangTheoLoaiDichVu)){
        <GridColumn Field=@nameof(ReportModel.BranchName) Width="170px" MaxResizableWidth="100" Title="Tên Chi nhánh">
            <FooterTemplate>
                Số dòng: @context.Count
            </FooterTemplate>
        </GridColumn>
        <GridColumn Field=@nameof(ReportModel.EnumId) Width="150px" Title="Mã loại dịch vụ"></GridColumn>
        <GridColumn Field=@nameof(ReportModel.EnumName) Width="170px" Title="Tên loại dịch vụ "></GridColumn>
        <GridColumn Field=@nameof(ReportModel.TotalReveune) Width="170px" Title="Tổng tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
            <FooterTemplate>
            Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
        </FooterTemplate>
        </GridColumn>
        if (ItemFilter.TypeTime == nameof(TypeTime.Thang)){
        <GridColumn Field=@nameof(ReportModel.Total_01) Width="90px" Title="T1" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
            <FooterTemplate>
                    @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_02) Width="90px" Title="T2"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_03) Width="90px" Title="Th3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_04) Width="90px" Title="T4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_05) Width="90px" Title="T5" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_06) Width="90px" Title="T6" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_07) Width="90px" Title="T7" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_08) Width="90px" Title="T8" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_09) Width="90px" Title="T9" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_10) Width="90px" Title="T10" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_11) Width="90px" Title="T11" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_12) Width="90px" Title="T12" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
        }else if (ItemFilter.TypeTime == nameof(TypeTime.Qui))
        {
            <GridColumn Field=@nameof(ReportModel.Total_01) Width="90px" Title="Q1"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
            <FooterTemplate>
                    @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_02) Width="90px" Title="Q2" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_03) Width="90px" Title="Q3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.Total_04) Width="90px" Title="Q4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                        @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            }
        }
        else if(ItemFilter.Type == nameof(ReportType.@DoanhThuQuiThangTheoNhanVienTuVan)){
            <GridColumn Field=@nameof(ReportModel.BranchName) Width="170px" MaxResizableWidth="100" Title="Tên chi nhánh">
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.EnumId) Width="150px" Title="Mã loại dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.EnumName) Width="170px" Title="Tên loại dịch vụ "></GridColumn>
            <GridColumn Field=@nameof(ReportModel.ServiceCode) Width="150px" Title="Mã dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.ServiceName) Width="160px" Title="Tên dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.ConsultUserId) Width="180px" Title="Mã nhân viên tư vấn"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.ConsultUserName) Width="180px" Title="Tên nhân viên tư vấn"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.TotalReveune) Width="170px" Title="Tổng tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
            @if (ItemFilter.TypeTime == nameof(TypeTime.Thang)){
            <GridColumn Field=@nameof(ReportModel.Total_01) Width="90px" Title="T1" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                     @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_02) Width="90px" Title="T2"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_03) Width="90px" Title="Th3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_04) Width="90px" Title="T4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_05) Width="90px" Title="T5" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_06) Width="90px" Title="T6" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_07) Width="90px" Title="T7" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_08) Width="90px" Title="T8" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_09) Width="90px" Title="T9" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_10) Width="90px" Title="T10" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_11) Width="90px" Title="T11" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_12) Width="90px" Title="T12" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
            }else if (ItemFilter.TypeTime == nameof(TypeTime.Qui))
            {
                <GridColumn Field=@nameof(ReportModel.Total_01) Width="90px" Title="Q1"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                     @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_02) Width="90px" Title="Q2" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_03) Width="90px" Title="Q3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_04) Width="90px" Title="Q4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
            }
        }
        else if(ItemFilter.Type == nameof(ReportType.@DoanhThuQuiThangTheoNhanVienThucHien)){
            <GridColumn Field=@nameof(ReportModel.BranchName) Width="170px" MaxResizableWidth="100" Title="Tên chi nhánh">
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.EnumId) Width="150px" Title="Mã loại dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.EnumName) Width="170px" Title="Tên loại dịch vụ "></GridColumn>
            <GridColumn Field=@nameof(ReportModel.ServiceCode) Width="150px" Title="Mã dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.ServiceName) Width="160px" Title="Tên dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.ImplementUserId) Width="180px" Title="Mã nhân viên thực hiện"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.ImplementUserName) Width="180px" Title="Tên nhân viên tư vấn"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.TotalReveune) Width="170px" Title="Tổng tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
            @if (ItemFilter.TypeTime == nameof(TypeTime.Thang)){
            <GridColumn Field=@nameof(ReportModel.Total_01) Width="90px" Title="T1" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                     @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_02) Width="90px" Title="T2"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_03) Width="90px" Title="Th3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_04) Width="90px" Title="T4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_05) Width="90px" Title="T5" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_06) Width="90px" Title="T6" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_07) Width="90px" Title="T7" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_08) Width="90px" Title="T8" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_09) Width="90px" Title="T9" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_10) Width="90px" Title="T10" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_11) Width="90px" Title="T11" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_12) Width="90px" Title="T12" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
            }else if (ItemFilter.TypeTime == nameof(TypeTime.Qui))
            {
                <GridColumn Field=@nameof(ReportModel.Total_01) Width="90px" Title="Q1"  DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                     @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_02) Width="90px" Title="Q2" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_03) Width="90px" Title="Q3" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(ReportModel.Total_04) Width="90px" Title="Q4" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                    <FooterTemplate>
                         @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                    </FooterTemplate>
                </GridColumn>
            }
        }
         else if(ItemFilter.Type == nameof(ReportType.@DoanhThuTheoDichVu)){
            <GridColumn Field=@nameof(ReportModel.BranchName) Width="170px" MaxResizableWidth="100" Title="Tên chi nhánh">
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.EnumId) Width="150px" Title="Mã loại dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.EnumName) Width="170px" Title="Tên loại dịch vụ "></GridColumn>
            <GridColumn Field=@nameof(ReportModel.ServiceCode) Width="150px" Title="Mã dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.ServiceName) Width="160px" Title="Tên dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.Qty) Width="150px" Title="Tổng số lượng" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.Price) Width="150px" Title="Giá" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.LineTotal) Width="170px" Title="Thành tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
        }
        else if(ItemFilter.Type == nameof(ReportType.@DoanhThuTheoLoaiDichVu)){
            <GridColumn Field=@nameof(ReportModel.BranchName) Width="170px" MaxResizableWidth="100" Title="Tên chi nhánh">
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ReportModel.EnumId) Width="150px" Title="Mã loại dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.EnumName) Width="170px" Title="Tên loại dịch vụ "></GridColumn>
            <GridColumn Field=@nameof(ReportModel.Qty) Width="150px" Title="Tổng số lượng" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.Price) Width="150px" Title="Giá" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
            <GridColumn Field=@nameof(ReportModel.LineTotal) Width="110px" Title="Thành tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
            </FooterTemplate>
            </GridColumn>
        }
        </GridColumns>
    </TelerikGrid>
</div>

