@page "/sales-doclist"
@inherits SalesDocListController
<div class="h-content-filter">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="d-flex ">
                <HLabel Value="Tình trạng:" IsRequired="true" Style="width: 130px" />
                <div style="width: calc(100% - 130px)">
                    <TelerikComboBox @bind-Value="@ItemFilter.StatusId"
                        Data="@ListStatus"
                        Placeholder="Chọn tình trạng..."
                        ClearButton="false"
                        TextField="@nameof(ComboboxModel.Name)"
                        ValueField="@nameof(ComboboxModel.Code)"
                        Filterable="true"
                        Class="btn-noborder-radius-left"
                        Id="txtStatusId" Width="100%">
                    </TelerikComboBox>
                </div>
            </div>
            <div class="d-flex mt-1">
                <HLabel Value="Từ ngày/Đến ngày:" Style="width: 130px" />
                <div style="width: calc(100% - 130px)">
                    <div class="d-flex justify-content-between">
                        <div style="width: 50%;">
                            <TelerikDatePicker @bind-Value="@ItemFilter.FromDate"
                                               Placeholder=""
                                               Format="dd/MM/yyyy"
                                               Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                        <div style="width: 50%; margin-left: 2px;">
                            <TelerikDatePicker @bind-Value="@ItemFilter.ToDate"
                                               Placeholder=""
                                               Format="dd/MM/yyyy"
                                               Class="btn-noborder-radius-left">
                            </TelerikDatePicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/remove_grid.png" 
        Enabled="@(ItemFilter.StatusId == nameof(DocStatus.Pending))"
        OnClick="@(()=> OpenDialogDeleteHandler())">Hủy đơn</ToolBarButton>
</TelerikToolBar>
<div class="h-table-content" style=" height: calc(100vh - 230px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>
    <TelerikGrid Data="@ListDocuments"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 OnRowDoubleClick="@OnRowDoubleClickHandler"
                 @bind-SelectedItems="@SelectedDocuments">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(DocumentModel.VoucherNo) Aggregate="@GridAggregateType.Count" />
            <GridAggregate Field=@nameof(DocumentModel.Total) Aggregate="@GridAggregateType.Sum" />
            <GridAggregate Field=@nameof(DocumentModel.Debt) Aggregate="@GridAggregateType.Sum" />
        </GridAggregates>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true" MaxResizableWidth="30"></GridCheckboxColumn>
            <GridColumn Field=@nameof(DocumentModel.VoucherNo) Width="135px" MaxResizableWidth="140" Title="Số lệnh">
                <Template>
                    @{
                        var model = (context as DocumentModel)!;
                        <span class="h-link" @onclick="@(()=> OpenDialogDebtsHandler(model, pIsShowVoucher: true))">@model.VoucherNo</span>
                    }
                </Template>
                <FooterTemplate>`
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(DocumentModel.DateCreate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="150px" Title="Ngày giờ tạo"></GridColumn>
            <GridColumn Field=@nameof(DocumentModel.CusNo) Width="125px" Title="Mã KH"></GridColumn>
            <GridColumn Field=@nameof(DocumentModel.FullName) Width="170px" Title="Tên khách hàng"></GridColumn>
            <GridColumn Field=@nameof(DocumentModel.Total) Width="170px" Title="Tổng tiền" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <FooterTemplate>
                    Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(DocumentModel.GuestsPay) Width="150px" Title="Khách trả" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
            <GridColumn Field=@nameof(DocumentModel.Debt) Width="170px" Title="Còn nợ" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY">
                <Template>
                    @{
                        var model = (context as DocumentModel)!;
                        @if(model.StatusId == nameof(DocStatus.Closed))
                        {
                            <i class="fa-regular fa-pen-to-square h-link" title="Lịch sử thanh toán"
                                style="font-size: 14px; margin-right: 2px" @onclick="@(()=> OpenDialogDebtsHandler(model))"></i>
                        }
                        <span>@model.Debt.ToString(DefaultConstants.FORMAT_CURRENCY)</span>
                    }
                </Template>
                <FooterTemplate>
                    Tổng tiền: @string.Format(DefaultConstants.FORMAT_GRID_CURRENCY, context.Sum)
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(DocumentModel.StatusName) Width="140px" Title="Tình trạng">
                <Template>
                    @{
                        var model = (context as DocumentModel);
                        string color = "text-cyan";
                        if (model!.StatusId == nameof(DocStatus.Closed)) color = "text-green";
                        else if (model!.StatusId == nameof(DocStatus.Cancled)) color = "text-red";
                        <span class="@(color)">@model!.StatusName</span>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field=@nameof(DocumentModel.NoteForAll) Width="170px" Title="Ghi chú"></GridColumn>
            <GridColumn Field=@nameof(DocumentModel.Phone1) Width="140px" Title="SĐT"></GridColumn>
            <GridColumn Field=@nameof(DocumentModel.Remark) Width="170px" Title="Đặc điểm"></GridColumn>
            <GridColumn Field=@nameof(DocumentModel.BranchId) Width="120px" Title="Mã CN"></GridColumn>
            <GridColumn Field=@nameof(DocumentModel.BranchName) Width="170px" Title="Tên chi nhánh"></GridColumn>
            <GridColumn Field=@nameof(DocumentModel.DateUpdate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="165px" Title="Ngày giờ cập nhật"></GridColumn>
            <GridColumn Field=@nameof(DocumentModel.ReasonDelete) Width="170px" Title="Lý do hủy"></GridColumn>
        </GridColumns>
    </TelerikGrid>
</div>

<HDialog @bind-IsVisible="@IsShowDialogDelete"
         SaveAndClosed="@(()=> CancleDocListHandler())"
         IsShowButtonSaveAdnCreate="false"
         Width="50%"
         Title="Xác nhận hủy đơn hàng">
    <div>
        <HLabel For="txtReason" Value="Lý do hủy đơn:" IsRequired="true" />
        <TelerikTextBox @bind-Value="@ReasonDeny" Id="txtReason" />
    </div>
</HDialog>

<HDialog @bind-IsVisible="@IsShowDialogDebts"
         IsShowButtons="false"
         Width="70%"
         Title="@($"Lịch sử thanh toán đơn hàng {VoucherNo}")">
    <div class="h-content-filter">
        <HLabel For="txtPriceService" Value="Tổng tiền còn nợ:" />
        <span class="badge bg-purple-lt">@TotalDebtAmount.ToString(DefaultConstants.FORMAT_CURRENCY)đ</span>
        <div class="mt-2">
            <div class="row row-gap-2">
                <div class="col-md-4 col-sm-12">
                    <HLabel Value="Số tiền cần thanh toán: " />
                    <TelerikNumericTextBox Format="@DefaultConstants.FORMAT_CURRENCY" Arrows="false"
                                           Step="1000.0" Min="0" Max="TotalDebtAmount" @bind-Value="@DebtsGuestPay" Id="numPrice" />
                </div>
                <div class="col-md-8 col-sm-12">
                    <HLabel Value="Ghi chú: " />
                    <TelerikTextBox @bind-Value="@DebtRemark" Id="txtReason" />
                </div>
            </div>
        </div>
    </div>
    <TelerikToolBar Class="border-bottom-0">
        <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReloadDataDebtsByDocHandler">Làm mới</ToolBarButton>
        <ToolBarButton ImageUrl="../assets/save-folder.png" OnClick="@SavePaymentHandler">Lưu thanh toán</ToolBarButton>
    </TelerikToolBar>
    <div class="h-table-content" style="height: 300px;">
        <TelerikGrid Data="@ListCusDebts"
                     Height="100%"
                     Width="100%"
                     RowHeight="25"
                     Pageable="true"
                     PageSize="@DefaultConstants.PAGE_SIZE"
                     Sortable="true"
                     Resizable="true"
                     FilterMode="@GridFilterMode.None"
                     SelectionMode="@GridSelectionMode.Single"
                     ScrollMode="@GridScrollMode.Scrollable">
            <GridSettings>
                <GridPagerSettings InputType="PagerInputType.Input" />
            </GridSettings>
            <GridColumns>
                <GridColumn Field=@nameof(CustomerDebtsModel.DateCreate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="140px" Title="Ngày giờ tạo"></GridColumn>
                <GridColumn Field=@nameof(CustomerDebtsModel.GuestsPay) DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY" Width="160px" Title="Số tiền thanh toán"></GridColumn>
                <GridColumn Field=@nameof(CustomerDebtsModel.TotalDebtAmount) DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY" Width="150px" Title="Còn nợ"></GridColumn>
                <GridColumn Field=@nameof(CustomerDebtsModel.Remark) Width="170px" Title="Ghi chú"></GridColumn>
                <GridColumn Field=@nameof(CustomerDebtsModel.IsDelay) Width="130px" Title="Khách hẹn trả?">
                    <Template>
                        @{
                            var model = (context as CustomerDebtsModel);
                            <TelerikCheckBox @bind-Value="@model!.IsDelay" Enabled="false" />
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(CustomerDebtsModel.DateDelay) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE" Width="130px" Title="Ngày giờ hẹn"></GridColumn>
                <GridColumn Field=@nameof(CustomerDebtsModel.CusNo) Width="130px" Title="Mã khách hàng"></GridColumn>
                <GridColumn Field=@nameof(CustomerDebtsModel.FullName) Width="170px" Title="Tên khách hàng"></GridColumn>
            </GridColumns>
        </TelerikGrid>
    </div>
</HDialog>