@page "/service"
@inherits ServiceController

<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@(()=> ReLoadDataHandler())">Làm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/add-new-icon.png" OnClick="@(()=> OnOpenDialogHandler())">Thêm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/remove_grid.png">Xóa dòng</ToolBarButton>
</TelerikToolBar>

<div class="h-table-content" style=" height: calc(100vh - 170px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>

    <TelerikGrid Data="@ListServices"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 OnRowDoubleClick="@OnRowDoubleClickHandler"
                 @bind-SelectedItems="@SelectedServices">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(ServiceModel.ServiceCode) Aggregate="@GridAggregateType.Count" />
        </GridAggregates>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
            <GridColumn Field=@nameof(ServiceModel.ServiceCode) Width="130px" MaxResizableWidth="150" Title="Mã dịch vụ">
                <Template>
                    @{
                        var model = (context as ServiceModel)!;
                        <i class="fa-regular fa-pen-to-square h-link text-teal" title="Phát đồ điều trị"
                            style="font-size: 14px; margin-right: 2px" @onclick="@(()=> EditTreatmentRegimen(model))"></i>
                        <span class="h-link">@model.ServiceCode</span>
                    }
                </Template>
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(ServiceModel.ServiceName) Width="250px" Title="Tên dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ServiceModel.Price) DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY" Width="130px" Title="Đơn giá">
                <Template>
                    @{
                        var model = (context as ServiceModel)!;
                        <i class="fa-regular fa-pen-to-square h-link" title="Chi tiết bảng giá"
                            style="font-size: 14px; margin-right: 2px" @onclick="@(()=> EditPriceHandler(model))"></i>
                        <span>@model.Price.ToString(DefaultConstants.FORMAT_CURRENCY)</span>
                    }
                </Template>
            </GridColumn>
            <GridColumn Field=@nameof(ServiceModel.EnumName) Width="160px" Title="Loại dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ServiceModel.PackageName) Width="190px" Title="Gói dịch vụ"></GridColumn>
            <GridColumn Field=@nameof(ServiceModel.Description) Width="190px" Title="Mô tả"></GridColumn>
            <GridColumn Field=@nameof(ServiceModel.WarrantyPeriod) Width="170px" Title="Số tháng bảo hành"></GridColumn>
            <GridColumn Field=@nameof(ServiceModel.QtyWarranty) Width="170px" Title="Số lần bảo hành"></GridColumn>
        </GridColumns>
    </TelerikGrid>
</div>

<HDialog @bind-IsVisible="@IsShowDialog"
    SaveAndClosed="@(()=> SaveDataHandler())"
    SaveAndCreate="@(()=> SaveDataHandler(EnumType.SaveAndCreate))"
    Title="@(IsCreate ? "Thêm mới dịch vụ" : $"Cập nhật dịch vụ {ServiceUpdate!.ServiceCode}")">
    <EditForm EditContext="@_EditContext" >
        <DataAnnotationsValidator />
        <div>
            <HLabel Value="Mã dịch vụ:" />
            <TelerikTextBox @bind-Value="@ServiceUpdate!.ServiceCode" Class="h-link" Enabled="false" />
        </div>
        <div class="mt-2">
            <HLabel For="txtBranchName" Value="Tên dịch vụ:" IsRequired="true" />
            <TelerikTextBox @bind-Value="@ServiceUpdate!.ServiceName" Id="txtBranchName" />
            <HValidationTooltip ValidationFor="@(()=> ServiceUpdate!.ServiceName)" Id="txtBranchName" />
        </div>
        <div class="mt-2">
            <HLabel Value="Đơn giá:" IsRequired="true" />
            <TelerikNumericTextBox 
                Format="@DefaultConstants.FORMAT_CURRENCY" 
                Step="1000.0"
                Min="1000.0"
                Enabled="@IsCreate"
                @bind-Value="@ServiceUpdate.Price" 
                Id="numPrice" />
            <HValidationTooltip ValidationFor="@(()=> ServiceUpdate.Price)" Id="numPrice" />
        </div>
        <div class="mt-2">
            <div class="row row-gap-2">
                <div class="col-md-6 col-sm-12">
                    <HLabel For="cbbTypeEnum" Value="Loại dịch vụ:" IsRequired="true" />
                    <TelerikComboBox Data="@ListServicesType"
                                     Value="@ServiceUpdate.EnumId"
                                     ValueExpression="@(() => ServiceUpdate.EnumId)"
                                     ValueChanged="@((string value) => ServiceUpdate.EnumId = value)"
                                     Placeholder="Chọn dịch vụ"
                                     TextField="@nameof(EnumModel.EnumName)"
                                     ValueField="@nameof(EnumModel.EnumId)"
                                     Filterable="true"
                                     ClearButton="false"
                                     Id="cbbTypeEnum"
                                     Class="btn-noborder-radius-left"
                                     Width="100%">
                    </TelerikComboBox>
                    <HValidationTooltip ValidationFor="@(()=> ServiceUpdate.EnumId)" Id="cbbTypeEnum" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <HLabel For="cbbPackageId" Value="Gói dịch vụ:"/>
                    <TelerikComboBox Data="@ListPackages"
                                     @bind-Value="@ServiceUpdate.PackageId"
                                     Placeholder="Chọn dịch vụ"
                                     TextField="@nameof(EnumModel.EnumName)"
                                     ValueField="@nameof(EnumModel.EnumId)"
                                     Filterable="true"
                                     ClearButton="false"
                                     Id="cbbPackageId"
                                     Class="btn-noborder-radius-left"
                                     Width="100%">
                    </TelerikComboBox>
                </div>
            </div>
            
        </div>
        <div class="mt-2">
            <div class="row row-gap-2">
                <div class="col-md-6 col-sm-12">
                    <HLabel Value="Số tháng bảo hành:" />
                    <TelerikNumericTextBox Format="@DefaultConstants.FORMAT_CURRENCY"
                        Step="1"
                        @bind-Value="@ServiceUpdate.WarrantyPeriod"
                        Min="0"
                        Id="numWarrantyPeriod" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <HLabel Value="Số lần bảo hành:" />
                    <TelerikNumericTextBox Format="@DefaultConstants.FORMAT_CURRENCY"
                        Step="1"
                        @bind-Value="@ServiceUpdate.QtyWarranty"
                        Min="0"
                        Id="numQtyWarranty" />
                </div>
            </div>
        </div>
        <div class="mt-2">
            <HLabel For="txtDescription" Value="Mô tả:" />
            <TelerikTextArea @bind-Value="@ServiceUpdate.Description" AutoSize="true" Size="500" Id="txtDescription" />
        </div>
    </EditForm>
</HDialog>

<HDialog @bind-IsVisible="@IsShowDialogPriceList"
    Width="70%"
    IsShowButtons="false"
    Title="@($"Thông tin bảng giá dịch vụ {pServiceCode}")">
    <div class="h-content-filter">
        <div class="mb-2">
            <HLabel For="txtPriceService" Value="Sử dụng ?" />
            <TelerikCheckBox @bind-Value="@PriceUpdate.IsActive" />
        </div>
        <div class="row row-gap-2">
            <div class="col-md-4 col-sm-3">
                <HLabel For="" Value="Mã:" />
                <TelerikNumericTextBox Enabled="false" @bind-Value="@PriceUpdate.Id" Min="0" Id="numPriceId" Arrows="false" />
            </div>
            <div class="col-md-4 col-sm-9">
                <HLabel For="txtPriceService" Value="Mã dịch vụ:" />
                <TelerikTextBox @bind-Value="@pServiceCode" Id="txtPriceService" Enabled="false" />
            </div>
            <div class="col-md-4 col-sm-12">
                <HLabel For="txtPriceService" Value="Đơn giá:" IsRequired="true" />
                <TelerikNumericTextBox 
                    Format="@DefaultConstants.FORMAT_CURRENCY" 
                    Step="1000.0"
                    Min="0" Enabled="@(PriceUpdate.Id <= 0)"
                    @bind-Value="@PriceUpdate.Price" 
                    Id="numPrice" />
            </div>
        </div>
    </div>
    <TelerikToolBar Class="border-bottom-0">
        <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@(()=> ReLoadDataHandler(EnumTable.Prices))">Làm mới</ToolBarButton>
        <ToolBarButton ImageUrl="../assets/add-new-icon.png" OnClick="@(()=> SaveDataPriceListHandler())">Thêm mới</ToolBarButton>
        <ToolBarButton ImageUrl="../assets/save-folder.png" Enabled="@(PriceUpdate.Id > 0)" OnClick="@(()=> SaveDataPriceListHandler(EnumType.Update))">Cập nhật</ToolBarButton>
    </TelerikToolBar>
    <div class="h-table-content" style="height: 350px;">
        <TelerikGrid Data="@ListPrices"
                     Height="100%"
                     Width="100%"
                     RowHeight="25"
                     Pageable="true"
                     PageSize="@DefaultConstants.PAGE_SIZE"
                     Sortable="true"
                     Resizable="true"
                     FilterMode="@GridFilterMode.FilterMenu"
                     SelectionMode="@GridSelectionMode.Single"
                     OnRowClick="@OnRowClickPriceHandler"
                     ScrollMode="@GridScrollMode.Scrollable"
                     @bind-SelectedItems="@SelectedPrices">
            <GridSettings>
                <GridPagerSettings InputType="PagerInputType.Input" />
            </GridSettings>
            <GridAggregates>
                <GridAggregate Field=@nameof(PriceModel.Id) Aggregate="@GridAggregateType.Count" />
            </GridAggregates>
            <GridColumns>
                <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
                <GridColumn Field=@nameof(PriceModel.Id) Width="100px" MaxResizableWidth="110" Title="Mã">
                    <Template>
                        @{
                            var model = (context as PriceModel);
                            <span class="h-link">@model!.Id</span>
                        }
                    </Template>
                    <FooterTemplate>
                        Số dòng: @context.Count
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(PriceModel.ServiceCode) Width="130px" MaxResizableWidth="150" Title="Mã dịch vụ"></GridColumn>
                <GridColumn Field=@nameof(PriceModel.Price) DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY" Width="130px" Title="Đơn giá"></GridColumn>
                <GridColumn Field=@nameof(PriceModel.IsActive) Width="150px" Title="Đang sử dụng ?">
                    <Template>
                        @{
                            var model = (context as PriceModel);
                            <TelerikCheckBox @bind-Value="@model!.IsActive" Enabled="false" />
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(PriceModel.DateCreate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="170px" Title="Ngày giờ tạo"></GridColumn>
                <GridColumn Field=@nameof(PriceModel.DateUpdate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="170px" Title="Ngày giờ cập nhật"></GridColumn>
            </GridColumns>
        </TelerikGrid>
    </div>
</HDialog>

<HDialog @bind-IsVisible="@IsShowDialogTreatment"
    Width="70%"
    SaveAndClosed="@SaveAndClosedTreatmentHandler"
    IsShowButtonSaveAdnCreate="false"
         Title="@($"Phác đồ thực hiện dịch vụ {pServiceCode}")">
    <TelerikToolBar Class="border-bottom-0">
        <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@(()=> ReLoadDataHandler(EnumTable.TreatmentRegimens))">Làm mới</ToolBarButton>
        <ToolBarButton ImageUrl="../assets/add-new-icon.png" OnClick="@AddTreatmentRegimenHandler">Thêm mới</ToolBarButton>
    </TelerikToolBar>
    <div class="h-table-content" style="height: 300px;">
        <TelerikGrid Data="@ListTreatments" @ref="@RefListTreatments"
                     Height="100%"
                     Width="100%"
                     RowHeight="25"
                     Pageable="true"
                     PageSize="@DefaultConstants.PAGE_SIZE"
                     Sortable="true"
                     Resizable="true"
                     FilterMode="@GridFilterMode.None"
                     SelectionMode="@GridSelectionMode.Single"
                     EditMode="@GridEditMode.Incell"
                     OnUpdate="@UpdateTreatmentRegimenHandler"
                     ScrollMode="@GridScrollMode.Scrollable">
            <GridSettings>
                <GridPagerSettings InputType="PagerInputType.Input" />
            </GridSettings>
            <GridColumns>
                <GridColumn Width="30px" MaxResizableWidth="50" Title="#" Editable="false" TextAlign="@ColumnTextAlign.Center">
                    <Template>
                        <i class="fa-solid fa-xmark" style="color: red;font-size: 17px;cursor: pointer"
                           title="Xóa dịch vụ" @onclick="@(()=> RemoveTreatmentRegimenHandler((context as TreatmentRegimenModel)!.LineNum))"></i>
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(TreatmentRegimenModel.LineNum) Width="90px" MaxResizableWidth="90" Title="STT" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(TreatmentRegimenModel.Name) Width="130px" MaxResizableWidth="130" Title="Bước thực hiện"></GridColumn>
                <GridColumn Field=@nameof(TreatmentRegimenModel.Title) Width="170px" Title="Nội dung thực hiện"></GridColumn>
                <GridColumn Field=@nameof(TreatmentRegimenModel.ServiceCode) Width="130px" MaxResizableWidth="150" Title="Mã dịch vụ" Editable="false"></GridColumn>
                <GridColumn Field=@nameof(TreatmentRegimenModel.DateUpdate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="170px" Title="Ngày giờ cập nhật" Editable="false"></GridColumn>
            </GridColumns>
        </TelerikGrid>
    </div>
</HDialog>