@page "/supplies"
@inherits SupliesController;

<TelerikTabStrip>
    <TabStripTab Title="Quản lý vật tư">
        <TelerikToolBar Class="border-bottom-0">
            <ToolBarButton ImageUrl="../assets/copywriter.png" OnClick="@(()=> ShowOutBoundHandler())">Lập phiếu xuất kho</ToolBarButton>
            <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
            <ToolBarButton ImageUrl="../assets/add-new-icon.png" OnClick="@(()=> OnOpenDialogHandler())">Thêm mới</ToolBarButton>
            <ToolBarButton ImageUrl="../assets/remove_grid.png"  OnClick="@(()=> DeleteDataHandler())">Xóa dòng</ToolBarButton>
        </TelerikToolBar>
        <div class="h-table-content" style=" height: calc(100vh - 210px);">
            <TelerikLoaderContainer OverlayThemeColor="light"
                                    Visible="@(!IsInitialDataLoadComplete)"
                                    Text="@null" Class="grid-initial-data-loader">
                <Template>
                    <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                                   Size="@(ThemeConstants.Loader.Size.Medium)">
                    </TelerikLoader>
                </Template>
            </TelerikLoaderContainer>

            <TelerikGrid Data="@ListSupplies"
                         Height="100%"
                         Width="100%"
                         RowHeight="25"
                         Pageable="true"
                         PageSize="@DefaultConstants.PAGE_SIZE"
                         Sortable="true"
                         Resizable="true"
                         FilterMode="@GridFilterMode.FilterMenu"
                         SelectionMode="@GridSelectionMode.Multiple"
                         ScrollMode="@GridScrollMode.Scrollable"
                         OnRowDoubleClick="@OnRowDoubleClickHandler"
                         @bind-SelectedItems="@SelectedSupplies">
                <GridSettings>
                    <GridPagerSettings InputType="PagerInputType.Input" />
                </GridSettings>
                <GridAggregates>
                    <GridAggregate Field=@nameof(SuppliesModel.SuppliesCode) Aggregate="@GridAggregateType.Count" />
                </GridAggregates>
                <GridColumns>
                    <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
                    <GridColumn Field=@nameof(SuppliesModel.SuppliesCode) Width="140px" MaxResizableWidth="150" Title="Mã vật tư">
                        <Template>
                            @{
                                var model = (context as SuppliesModel);
                                <span class="h-link">@model!.SuppliesCode</span>
                            }
                        </Template>
                        <FooterTemplate>
                            Số dòng: @context.Count
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field=@nameof(SuppliesModel.SuppliesName) Width="270px" Title="Tên vật tư"></GridColumn>
                    <GridColumn Field=@nameof(SuppliesModel.SuppliesTypeName) Width="160px" Title="Tên loại vật tư" ></GridColumn>
                    <GridColumn Field=@nameof(SuppliesModel.TypeName) Width="160px" Title="Kiểu" ></GridColumn>
                    <GridColumn Field=@nameof(SuppliesModel.EnumName) Width="120px" Title="Đơn vị tính" ></GridColumn>
                    <GridColumn Field=@nameof(SuppliesModel.QtyIntoInv) Width="200px" Title="Tổng số lượng nhập kho" TextAlign="@ColumnTextAlign.Right" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY" ></GridColumn>
                    <GridColumn Field=@nameof(SuppliesModel.QtyOutBound) Width="200px" Title="Tổng số lượng xuất kho" TextAlign="@ColumnTextAlign.Right" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY" ></GridColumn>
                    <GridColumn Field=@nameof(SuppliesModel.QtyInv) Width="200px" Title="Tổng số lượng trong kho" TextAlign="@ColumnTextAlign.Right" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY" ></GridColumn>
                    <GridColumn Field=@nameof(SuppliesModel.Price) Width="110px" Title="Giá hiện tại" TextAlign="@ColumnTextAlign.Right" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
@*                    <GridColumn Field=@nameof(SuppliesModel.DateCreate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE" Width="100px" Title="Ngày tạo" Filterable="false"></GridColumn>
                    <GridColumn Field=@nameof(SuppliesModel.UserNameCreate) Width="160px" Title="Người tạo" ></GridColumn>
                    <GridColumn Field=@nameof(SuppliesModel.DateUpdate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE" Width="100px" Title="Ngày cập nhật" Filterable="false"></GridColumn>
                    <GridColumn Field=@nameof(SuppliesModel.UserNameUpdate) Width="160px" Title="Người cập nhật" ></GridColumn>*@
                </GridColumns>
            </TelerikGrid>
        </div>
    </TabStripTab>
    <TabStripTab Title="Quản lý tồn kho">
        <TelerikToolBar Class="border-bottom-0">
            <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataInvHandler">Làm mới</ToolBarButton>
            <ToolBarButton ImageUrl="../assets/add-new-icon.png" OnClick="@(()=> OnOpenIntoInvHandler())">Nhập kho</ToolBarButton>
            @*<ToolBarButton ImageUrl="../assets/remove_grid.png"OnClick="@(()=> DeleteDataInvHandler())" >Xóa dòng</ToolBarButton>*@
        </TelerikToolBar>
        <div class="h-table-content" style=" height: calc(100vh - 210px);">
            <TelerikLoaderContainer OverlayThemeColor="light"
                                    Visible="@(!IsInitialDataLoadComplete)"
                                    Text="@null" Class="grid-initial-data-loader">
                <Template>
                    <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                                   Size="@(ThemeConstants.Loader.Size.Medium)">
                    </TelerikLoader>
                </Template>
            </TelerikLoaderContainer>

            <TelerikGrid Data="@ListInvetoryHistory"
                         Height="100%"
                         Width="100%"
                         RowHeight="25"
                         Pageable="true"
                         PageSize="@DefaultConstants.PAGE_SIZE"
                         Sortable="true"
                         Resizable="true"
                         FilterMode="@GridFilterMode.FilterMenu"
                         SelectionMode="@GridSelectionMode.Multiple"
                         ScrollMode="@GridScrollMode.Scrollable"
                         OnRowDoubleClick="@OnRowDoubleClickInvHandler"
                         @bind-SelectedItems="@SelectedInvetoryHistory">
                <GridSettings>
                    <GridPagerSettings InputType="PagerInputType.Input" />
                </GridSettings>
                <GridAggregates>
                    <GridAggregate Field=@nameof(InvetoryModel.SuppliesCode) Aggregate="@GridAggregateType.Count" />
                </GridAggregates>
                <GridColumns>
@*                    <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>*@
                    <GridColumn Field=@nameof(InvetoryModel.SuppliesCode) Width="170px" MaxResizableWidth="150" Title="Mã vật tư">
                        <Template>
                            @{
                                var model = (context as InvetoryModel);
                                <span class="h-link">@model!.SuppliesCode</span>
                            }
                        </Template>
                        <FooterTemplate>
                            Số dòng: @context.Count
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field=@nameof(InvetoryModel.SuppliesName) Width="170px" Title="Tên vật tư"></GridColumn>
                    <GridColumn Field=@nameof(InvetoryModel.EnumName) Width="170px" Title="Đơn vị tính" ></GridColumn>
                    <GridColumn Field=@nameof(InvetoryModel.QtyInv) Width="160px" Title="Số lượng nhập kho" TextAlign="@ColumnTextAlign.Right" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY" ></GridColumn>
                    <GridColumn Field=@nameof(InvetoryModel.Price) Width="200px" Title="Giá nhập kho/Đơn vị tính" TextAlign="@ColumnTextAlign.Right" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
                    <GridColumn Field=@nameof(InvetoryModel.DateCreate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="140px" Title="Thời gian nhập kho" Filterable="false"></GridColumn>
                    <GridColumn Field=@nameof(InvetoryModel.UserNameCreate) Width="160px" Title="Người nhập kho" ></GridColumn>
                    <GridColumn Field=@nameof(InvetoryModel.DateUpdate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="160px" Title="Thời gian sửa nhập kho" Filterable="false"></GridColumn>
                    <GridColumn Field=@nameof(InvetoryModel.UserNameUpdate) Width="160px" Title="Người sửa nhập kho" ></GridColumn>
                </GridColumns>
            </TelerikGrid>
        </div>
    </TabStripTab>
</TelerikTabStrip>
<HDialog @bind-IsVisible="@IsShowDialog"
    SaveAndClosed="@(()=> SaveDataHandler())"
    SaveAndCreate="@(()=> SaveDataHandler(EnumType.SaveAndCreate))"
    Title="@(IsCreate ? "Thêm mới vật tư" : $"Cập nhật vật tư {SuppliesUpdate!.SuppliesCode}")">
    <EditForm EditContext="@_EditContext" >
        <DataAnnotationsValidator />
        <div>
            <HLabel Value="Mã vật tư:"  IsRequired="true"/>
            <TelerikTextBox @bind-Value="@SuppliesUpdate!.SuppliesCode" Class="h-link" Enabled="false" />
        </div>
        <div class="mt-2">
            <HLabel For="txtSuppliesName" Value="Tên vật tư:" IsRequired="true" />
            <TelerikTextBox @bind-Value="@SuppliesUpdate.SuppliesName" Id="txtSuppliesName" />
            <HValidationTooltip ValidationFor="@(()=> SuppliesUpdate.SuppliesName)" Id="txtSuppliesName" />
        </div>
        <div class="mt-2">
                <HLabel For="cbbSuppliesTypeCode" Value="Loại vật tư:" IsRequired="true" />
                <TelerikComboBox Data="@ListSuppliesTypes"
                    Value="@SuppliesUpdate.SuppliesTypeCode"
                    ValueExpression="@(() => SuppliesUpdate.SuppliesTypeCode)"
                    ValueChanged="@((string value) => SuppliesUpdate.SuppliesTypeCode = value)"
                    Placeholder="Chọn loại vật tư"
                    TextField="@nameof(EnumModel.EnumName)"
                    ValueField="@nameof(EnumModel.EnumId)"
                    Filterable="true"
                    ClearButton="false"
                    Id="cbbSuppliesTypeCode"
                    Class="btn-noborder-radius-left"
                    Width="100%">
                </TelerikComboBox>
                <HValidationTooltip ValidationFor="@(()=> SuppliesUpdate.SuppliesTypeCode)" Id="cbbSuppliesTypeCode" />
            </div>
             <div class="mt-2">
                <HLabel For="cbbSuppliesTypeCode" Value="Kiểu:" IsRequired="true" />
                <TelerikComboBox Data="@ListKinds"
                    Value="@SuppliesUpdate.Type"
                    ValueExpression="@(() => SuppliesUpdate.Type)"
                    ValueChanged="@((string value) => SuppliesUpdate.Type = value)"
                    Placeholder="Chọn kiểu"
                    TextField="@nameof(ComboboxModel.Name)"
                    ValueField="@nameof(ComboboxModel.Code)"
                    Filterable="true"
                    ClearButton="false"
                    Id="cbbSuppliesTypeCode"
                    Class="btn-noborder-radius-left"
                    Width="100%">
                </TelerikComboBox>
                <HValidationTooltip ValidationFor="@(()=> SuppliesUpdate.Type)" Id="cbbSuppliesTypeCode" />
            </div>
         <div class="mt-2">
                <HLabel For="cbbUnit" Value="Đơn vị tính:" IsRequired="true" />
                <TelerikComboBox Data="@ListEnums"
                    Value="@SuppliesUpdate.EnumId"
                    ValueExpression="@(() => SuppliesUpdate.EnumId)"
                    ValueChanged="@((string value) => SuppliesUpdate.EnumId = value)"
                    Placeholder="Chọn đơn vị tính"
                    TextField="@nameof(EnumModel.EnumName)"
                    ValueField="@nameof(EnumModel.EnumId)"
                    Filterable="true"
                    ClearButton="false"
                    Id="cbbBranch"
                    Class="btn-noborder-radius-left"
                    Width="100%">
                </TelerikComboBox>
                <HValidationTooltip ValidationFor="@(()=> SuppliesUpdate.EnumId)" Id="cbbBranch" />
            </div>
    </EditForm>
</HDialog>


<HDialog @bind-IsVisible="@IsShowIntoInv"
    Width="75%"
    SaveAndClosed="@(()=> SaveDataInvHandler())"
    SaveAndCreate="@(()=> SaveDataInvHandler(EnumType.SaveAndCreate))"
    Title="Nhập vật tư vào kho">
    <HListInvetoryCreate ListSelectReturn="@ListInvetoryCreate" ListSupplies="@ListSupplies" BranchId ="@pBranchId"></HListInvetoryCreate>
</HDialog>

<HConfirm @ref="@_rDialogs" />


 <HDialog @bind-IsVisible="@IsShowIntoUpdateInv"
    SaveAndClosed="@(()=> SaveDataInvHandler())"
    SaveAndCreate="@(()=> SaveDataInvHandler(EnumType.SaveAndCreate))"
    Title="@(IsCreate ? "Thêm mới tồn kho" : $"Cập nhật vật tư {InvetoryHistoryUpdate!.SuppliesCode}")">
    <EditForm EditContext="@_EditInvContext" >
        <DataAnnotationsValidator />
        <div>
            <HLabel Value="Mã tồn kho:" />
           <TelerikNumericTextBox @bind-Value="@InvetoryHistoryUpdate!.Absid" Class="bh-link" Id="txtAbsid "Enabled="true" />  
        </div>
        <div class="mt-2">
           <HLabel For="cbbSupplies" Value="Vật tư:" IsRequired="true" />
                <TelerikComboBox Data="@ListSupplies"
                    Value="@InvetoryHistoryUpdate.SuppliesCode"
                    ValueExpression="@(() => InvetoryHistoryUpdate.SuppliesCode)"
                    ValueChanged="@((string value) => InvetoryHistoryUpdate.SuppliesCode = value)"
                    Placeholder="Chọn vật tư"
                    TextField="@nameof(SuppliesModel.SuppliesName)"
                    ValueField="@nameof(SuppliesModel.SuppliesCode)"
                    Filterable="true"
                    ClearButton="false"
                    Id="cbbSupplies"
                    Class="btn-noborder-radius-left"
                    Width="100%">
                </TelerikComboBox>
                <HValidationTooltip ValidationFor="@(()=> InvetoryHistoryUpdate.SuppliesCode)" Id="cbbSupplies" />
        </div>
        <div>
            <HLabel Value="Tên đơn vị tính:" />
            <TelerikTextBox @bind-Value="@InvetoryHistoryUpdate!.EnumName" Class="bh-link" Enabled="false" />
        </div>
         <div>
            <HLabel Value="Giá nhập kho/Đơn vị tính:"  IsRequired="true"/>
            <TelerikNumericTextBox Min="500"  Step="500" Format="@DefaultConstants.FORMAT_CURRENCY" @bind-Value="@InvetoryHistoryUpdate.Price" Class="bh-link"  Id="txtQty" />
        </div>
         <div>
            <HLabel Value="Số lượng nhập kho:"  IsRequired="true"/>
            <TelerikNumericTextBox @bind-Value="@InvetoryHistoryUpdate.QtyInv" Format="@DefaultConstants.FORMAT_CURRENCY" Class="bh-link" Min="1" Id="txtQty" />
        </div>
    </EditForm>
</HDialog>

@*Lập phiếu xuất kho theo yêu cầu *@
<HDialog @bind-IsVisible="@IsShowOutBound"
         IsShowButtonSaveAdnCreate="false"
         Width="65%"
         SaveAndClosed="@(()=> SaveOutBoundHandler())"
         Title="@($"Lập lệnh và xuất kho theo yêu cầu")">
    <EditForm EditContext="@_EditOutBoundContext">
        <DataAnnotationsValidator />
        <div class="row row-gap-2">
            <div class="col-md-4 col-sm-12">
                <HLabel Value="Cơ sở: " />
                <strong>@OutBoundUpdate.BranchName</strong>
            </div>
        </div>
         <div class="mt-2">
            <HLabel For="txtColorImplement" Value="Dụng cụ: " />
             @if (ListSuppliesOutBound != null && ListSuppliesOutBound.Any()){
                @foreach(var oItem in ListSuppliesOutBound)
                {
                     <div class="mt-2 row">
                         <div class="col-2">
                            <strong> @($"{oItem.SuppliesName} ")</strong>
                         </div>
                         <div class="col-2" style="margin-top: 5px">
                             <HLabel For="txtColorImplement" Value="@("Tổng số lượng tồn kho: ")" /> 
                              <strong> @($"{oItem.QtyInv} ")</strong>
                         </div>
                         <div class="col-2" style="margin-top: 5px">
                            <HLabel For="txtColorImplement" Value="@("ĐVT trong kho: ")" /> 
                            <strong> @($"{oItem.EnumName} ")</strong>
                         </div>
                         <div class="col-2" style="margin-top: 5px">
                             <HLabel For="txtColorImplement" Value="Nhập số lượng xuất:" /> 
                         </div>
                          <div class="col-2">
                            <TelerikNumericTextBox Format="@DefaultConstants.FORMAT_CURRENCY" Min="0"  Step="1"  @bind-Value="@oItem.Qty" Enabled="@(oItem.QtyInv <= 0? false :true)" Id="txtQty" /> 
                         </div>
                         <div class="col-2" style="margin-top: 5px">
                            <HLabel For="txtColorImplement" Value="@("ĐVT xuất kho: ")" /> 
                            <strong> @(oItem.SuppliesCode + "" =="VT008"? "Giọt": oItem.EnumName)</strong>
                         </div>
                    </div>
                    <div class="dropdown-divider"></div>
                }
            }
        </div>
         <div class="mt-2 row">
            <div class="col-6">
                <HLabel For="FullName" Value="Nhân viên xuất kho:" />
                <TelerikTextBox @bind-Value="@FullName" Id="FullName"  Enabled="false" />
             
             </div>
            <div class="col-6">
                 <HLabel For="ChargeUser" Value="Nhân viên phụ trách:" IsRequired="true" />
                 <TelerikMultiSelect Data="@ListUsers"
                        @bind-Value="@OutBoundUpdate.ListChargeUser"
                        ValueField="@nameof(ComboboxModel.Code)"
                        TextField="@nameof(ComboboxModel.Name)"
                        FilterOperator="@Telerik.Blazor.StringFilterOperator.Contains"
                        AutoClose="false" Width="100%">
                </TelerikMultiSelect>
                 
            </div>
        </div>
    </EditForm>
</HDialog>

